Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: tf-generate-docs
        name: Generate Terraform Docs
        entry: generate-tf-docs
        language: system
        files: ^packages/infrastructure/
        pass_filenames: false
        description: "Generates the IaC docs for the website"
        fail_fast: true

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

fix:domains: at least one env check + 'env install' -> 'env add'
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/getEnvironmentForZone.ts
Due: none

feat: automatically request increase in vcpu quota in aws_account module
  packages/infrastructure/aws_account/main.tf
Due: tf-fmt, tf-generate-docs

test: module main uploader
  README.md
Due: lint-spellcheck

fix: reset cert manager on nginx ingress deploy
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: nixfmt

fix: logic issues with cert manager reset
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

fix: move wait inside loop
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

fix: ensure attempts increments properly
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

chore: consolidate duplicate logic
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

feat: adds vars to enable prometheus metrics for argo
  packages/infrastructure/kube_argo/README.md
  packages/infrastructure/kube_argo/main.tf
  packages/infrastructure/kube_argo/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_argo/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

fix: uncomment delay
  packages/cli/src/commands/cluster/add/setupCertIssuers.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

chore: better feedback on task progress
  packages/cli/src/commands/cluster/add/setupCertIssuers.ts
Due: none

fix: reset cert manager on nginx ingress deploy (#350)
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/setupCertIssuers.ts
Due: nixfmt

fix: dnssec kms key policy document
  packages/infrastructure/aws_dnssec/main.tf
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

fix: unload AWS_ACCESS_KEY_ID and AWS_SECRET_ACCES_KEY env vars on devshell boot
  packages/nix/packages/scripts/enter-shell-local.sh
Due: shellcheck, shellfmt

fix: address line 2 min length
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
Due: none

fix: address line 2 min length
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

fix: allow multiple nginx instances on one host for sla 1
  packages/infrastructure/kube_ingress_nginx/main.tf
Due: tf-fmt, tf-generate-docs

feat: add Panfactum terragrunt hooks
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/devshell/constants.ts
Due: hcl-fmt

feat: better resumability
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCertManagement.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/yaml/readPFYAMLFile.ts
Due: none

chore: address pr feedback
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupPolicyController.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/yaml/getLocalModuleStatus.ts
Due: none

feat: incremental vault resumes
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix: ensure vault proxy is for correct cluster
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/subprocess/vaultProxy.ts
Due: none

chore: remove debug logs
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix: proper task nesting and returns
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/subprocess/vaultProxy.ts
Due: none

fix: update correct task title
  packages/cli/src/commands/cluster/add/setupCertificates.ts
Due: none

feat: better resumability (#351)
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/add/setupCertManagement.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupPolicyController.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/cli/src/util/subprocess/vaultProxy.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/yaml/getLocalModuleStatus.ts
Due: none

chore: lower bun dns cache ttl
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

fix: unneded nesting & validation schema
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
Due: none

fix: force crds before cert-manager helm deploy
  packages/infrastructure/kube_cert_issuers/main.tf
  packages/infrastructure/kube_cert_manager/crds.yaml
  packages/infrastructure/kube_cert_manager/main.tf
Due: tf-fmt, tf-generate-docs

fix: do not use local-exec
  packages/infrastructure/kube_cert_issuers/main.tf
Due: tf-fmt, tf-generate-docs

chore: docs
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/templates/kube_certificates.hcl
  packages/cli/src/util/terragrunt/constants.ts
  packages/infrastructure/kube_certificates/README.md
  packages/infrastructure/kube_certificates/config.yaml
  packages/infrastructure/kube_certificates/main.tf
  packages/infrastructure/kube_certificates/outputs.tf
  packages/infrastructure/kube_certificates/vars.tf
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

fix: certificate dependency paths
  packages/cli/src/templates/kube_cert_issuers_terragrunt.hcl
  packages/cli/src/templates/kube_external_dns_terragrunt.hcl
  packages/cli/src/templates/kube_ingress_nginx_terragrunt.hcl
  packages/cli/src/templates/kube_keda_terragrunt.hcl
  packages/cli/src/templates/kube_linkerd_terragrunt.hcl
  packages/cli/src/templates/kube_metrics_server_terragrunt.hcl
  packages/cli/src/templates/kube_vpa_terragrunt.hcl
Due: hcl-fmt

fix: overwrite file
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix: add dashboard.json
  packages/infrastructure/kube_certificates/dashboard.json
Due: tf-generate-docs

fix: ensure all dependencies are correct
  packages/infrastructure/kube_certificates/main.tf
Due: tf-fmt, tf-generate-docs

chore: remove deprecated modules
  packages/infrastructure/kube_cert_issuers/FOOTER.md
  packages/infrastructure/kube_cert_issuers/README.md
  packages/infrastructure/kube_cert_issuers/config.yaml
  packages/infrastructure/kube_cert_issuers/main.tf
  packages/infrastructure/kube_cert_issuers/outputs.tf
  packages/infrastructure/kube_cert_issuers/vars.tf
  packages/infrastructure/kube_cert_manager/FOOTER.md
  packages/infrastructure/kube_cert_manager/README.md
  packages/infrastructure/kube_cert_manager/config.yaml
  packages/infrastructure/kube_cert_manager/dashboard.json
  packages/infrastructure/kube_cert_manager/main.tf
  packages/infrastructure/kube_cert_manager/outputs.tf
  packages/infrastructure/kube_cert_manager/vars.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

chore: docs updates
  packages/infrastructure/kube_certificates/README.md
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_issuers/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_manager/index.mdx
Due: lint-spellcheck, tf-generate-docs, typecheck-website
