Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

tf-generate-docs:
  name: Generate Terraform Docs
  entry: generate-tf-docs
  language: system
  pass_filenames: false
  description: Generates the IaC docs for the website
  fail_fast: true

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

chore: add todo for @fullykubed
  packages/cli/src/context/context.ts
Due: none

feat: alpha opensearch module
  .envrc
  cspell.config.yaml
  flake.lock
  flake.nix
  packages/infrastructure/kube_deployment/vars.tf
  packages/infrastructure/kube_job/FOOTER.md
  packages/infrastructure/kube_job/README.md
  packages/infrastructure/kube_job/config.yaml
  packages/infrastructure/kube_job/main.tf
  packages/infrastructure/kube_job/outputs.tf
  packages/infrastructure/kube_job/vars.tf
  packages/infrastructure/kube_nats/vars.tf
  packages/infrastructure/kube_opensearch/FOOTER.md
  packages/infrastructure/kube_opensearch/README.md
  packages/infrastructure/kube_opensearch/config.yaml
  packages/infrastructure/kube_opensearch/entrypoint.sh
  packages/infrastructure/kube_opensearch/main.tf
  packages/infrastructure/kube_opensearch/outputs.tf
  packages/infrastructure/kube_opensearch/vars.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
  packages/infrastructure/kube_pod/main.tf
  packages/infrastructure/kube_pod/vars.tf
  packages/infrastructure/kube_stateful_set/main.tf
  packages/infrastructure/kube_stateful_set/vars.tf
  packages/infrastructure/kube_workload_utility/outputs.tf
  packages/infrastructure/wf_spec/main.tf
  packages/infrastructure/wf_spec/vars.tf
  packages/nix/packages/default.nix
  packages/website/src/content/docs/changelog/edge.mdx
  packages/website/src/content/docs/main/guides/deploying-workloads/basics/index.mdx
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_deployment/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_job/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_nats/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_opensearch/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_pg_cluster/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_pod/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_stateful_set/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/workflow/wf_spec/index.mdx
Due: lint-spellcheck, shellcheck, shellfmt, nixfmt, tf-fmt, tf-generate-docs, typecheck-website

fix: cli updates
  packages/cli/src/commands/aws/vpc-network-test/vpcNetworkTest.ts
  packages/cli/src/commands/cluster/install/setupVPC.ts
  packages/cli/src/context/context.ts
  packages/cli/src/util/aws/getSSMCommandOutput.ts
  packages/cli/src/util/sops/sopsUpsert.ts
  packages/cli/src/util/streams/concatStreams.ts
  packages/cli/src/util/subprocess/execute.ts
Due: none

fix: opensearch connecting docs
  packages/infrastructure/kube_opensearch/README.md
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_opensearch/index.mdx
Due: lint-spellcheck, tf-generate-docs, typecheck-website

fix: misc issues from testing cluster install
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/cluster/reset/clusterReset.ts
  packages/cli/src/context/context.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/util/devshell/tasks/syncKubeClustersTask.ts
  packages/cli/src/util/subprocess/killBackgroundProcess.ts
  packages/cli/src/util/terragrunt/terragruntApplyAll.ts
  packages/cli/src/util/terragrunt/terragruntInit.ts
Due: none

fix: more updates to cluster install functionality
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/util/subprocess/execute.ts
Due: none

wip: schema updates, hardcode zones for now
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
Due: none

fix: final tweaks for cluster installer
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupSupportServices.ts
  packages/cli/src/templates/kube_aws_lb_controller_terragrunt.hcl
  packages/cli/src/templates/kube_ingress_nginx_terragrunt.hcl
Due: hcl-fmt

fix: updates during cluster install
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/templates/aws_eks_sla_1_terragrunt.hcl
  packages/cli/src/templates/aws_eks_sla_2_terragrunt.hcl
  packages/cli/src/templates/kube_cert_manager_terragrunt.hcl
  packages/cli/src/templates/kube_karpenter_node_pools_terragrunt.hcl
  packages/cli/src/templates/kube_karpenter_terragrunt.hcl
  packages/cli/src/util/subprocess/execute.ts
Due: hcl-fmt

chore: remove unused files
  packages/cli/src/util/aws/selectAWSProfile.ts
  packages/cli/src/util/scripts/README.md
  packages/cli/src/util/scripts/get-kube-token-command.ts
  packages/cli/src/util/scripts/get-kube-token.ts
  packages/cli/src/util/scripts/tf-init-command.ts
  packages/cli/src/util/scripts/update-aws-command.ts
  packages/cli/src/util/scripts/update-aws.ts
  packages/cli/src/util/scripts/update-kube.ts
Due: lint-spellcheck

feat: pf add domain command v1
  .vscode/settings.json
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/createDescendentZones.ts
  packages/cli/src/commands/domain/add/createEnvironmentSubzones.ts
  packages/cli/src/commands/domain/add/getDomainPrice.ts
  packages/cli/src/commands/domain/add/getEnvironmentForZone.ts
  packages/cli/src/commands/domain/add/getEnvironmentsForSubzones.ts
  packages/cli/src/commands/domain/add/isDomainAvailableFromAWS.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/domain/add/types.ts
  packages/cli/src/context/getRoot.ts
  packages/cli/src/util/aws/getIdentity.ts
  packages/cli/src/util/domains/isRegistered.ts
  packages/cli/src/util/domains/tasks/getRegisteredDomainsTask.ts
  packages/cli/src/util/domains/tasks/getZonesTask.ts
  packages/cli/src/util/domains/tasks/testDNSResolutionTask.ts
  packages/cli/src/util/domains/tasks/types.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
Due: none

cli: enable domain registration
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

fix: account name fix for the installer
  packages/cli/src/commands/env/install/bootstrapEnvironment.ts
  packages/cli/src/commands/env/install/command.ts
Due: none

wip: installer fixes
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupSupportServices.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/config/get/getPanfactumConfig.ts
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/createDescendentZones.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/util/config/schemas.ts
  packages/cli/src/util/config/upsertConfigValues.ts
  packages/cli/src/util/domains/tasks/getRegisteredDomainsTask.ts
  packages/cli/src/util/domains/tasks/getZonesTask.ts
Due: none

fix: aws_registered_domains output
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/infrastructure/aws_registered_domains/outputs.tf
Due: tf-fmt, tf-generate-docs

fix: terragrunt.hcl
  packages/nix/packages/scripts/files/terragrunt/panfactum.hcl
Due: none

chore: updates
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/templates/kube_cert_issuers_production_terragrunt.hcl
  packages/cli/src/templates/kube_cert_issuers_terragrunt.hcl
  packages/nix/packages/scripts/files/terragrunt/panfactum.hcl
Due: nixfmt, hcl-fmt

fix: misc cli installer bugfixes
  packages/cli/src/commands/config/get/getPanfactumConfig.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/util/error/error.ts
  packages/nix/packages/scripts/files/terragrunt/panfactum.hcl
Due: none

feat: rework kubeDomain logic
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/common.ts
Due: none

fix: aws static creds update cli fx
  packages/cli/src/commands/env/install/command.ts
  packages/cli/src/util/aws/addAWSProfileFromStaticCreds.ts
Due: none

fix: pass kube context to kubectl commands
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/common.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
Due: none

fix: account alias for env installer
  packages/cli/src/commands/env/install/bootstrapEnvironment.ts
  packages/cli/src/util/aws/addAWSProfileFromStaticCreds.ts
Due: none

chore: consolidated eks template
  packages/cli/src/templates/aws_eks_terragrunt.hcl
Due: hcl-fmt

chore: updates for ux
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/templates/aws_eks_sla_1_terragrunt.hcl
  packages/cli/src/templates/aws_eks_sla_2_terragrunt.hcl
Due: hcl-fmt

feat: adds cli precommit hooks
  .pre-commit-config.yaml
  packages/cli/src/index.ts
  packages/nix/localDevShell/scripts/precommit-lint-cli.sh
  packages/nix/localDevShell/scripts/precommit-typecheck-cli.sh
Due: shellcheck, shellfmt

fix: increase retries
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

fix: provider cert-issuers the ability to create certs for subdomains of the cluster domain
  packages/infrastructure/kube_cert_issuers/main.tf
  packages/infrastructure/kube_cert_issuers/vars.tf
Due: tf-fmt, tf-generate-docs

fix: do not throw error while waiting on dns
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

fix: provider cert-issuers the ability to create certs for subdomains of the cluster domain
  packages/infrastructure/kube_cert_issuers/main.tf
Due: tf-fmt, tf-generate-docs

fix: panfactum.hcl for new cli
  packages/cli/src/context/getRepoVariables.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/nix/packages/scripts/default.nix
  packages/nix/packages/scripts/pf-get-repo-variables.sh
Due: shellcheck, shellfmt, nixfmt, hcl-fmt

fix: misc cli installer fixes
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/devshell/tasks/syncStandardFiles.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/infrastructure/aws_organization/main.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/aws/aws_delegated_zones/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/aws/aws_dns_links/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_issuers/index.mdx
Due: lint-spellcheck, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

fix: input logic
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
Due: none

fix: cli type errors
  packages/cli/bun.lock
  packages/cli/package.json
  packages/cli/src/commands/aws/vpcNetworkTest/command.ts
  packages/cli/src/commands/aws/vpcNetworkTest/vpcNetworkTest.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setSLA.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/util/aws/getIdentity.ts
  packages/cli/src/util/aws/getSSMCommandOutput.ts
  packages/cli/src/util/subprocess/killBackgroundProcess.ts
Due: none

fix: misc cli installer bugfixes
  .pre-commit-config.yaml
  packages/cli/src/commands/devshell/update/command.ts
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/env/add/getAdminAccessCredentials.ts
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/util/devshell/tasks/syncAWSIdentityCenterTask.ts
  packages/cli/src/util/devshell/tasks/syncDomainsTask.ts
  packages/cli/src/util/devshell/tasks/syncKubeClustersTask.ts
  packages/cli/src/util/devshell/tasks/syncSSHTask.ts
  packages/cli/src/util/devshell/tasks/syncStandardFiles.ts
  packages/cli/src/util/domains/getDomains.ts
  packages/cli/src/util/domains/tasks/getRegisteredDomainsTask.ts
  packages/cli/src/util/domains/tasks/getZonesTask.ts
  packages/cli/src/util/domains/tasks/types.ts
  packages/nix/localDevShell/scripts/lint.sh
  packages/nix/packages/scripts/enter-shell-local.sh
  packages/nix/packages/scripts/pf-get-commit-hash.sh
Due: shellcheck, shellfmt

fix: all cli linting errors
  packages/cli/eslint.config.js
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/templates/aws_eks_terragrunt.hcl
  packages/cli/src/util/aws/scaleASG.ts
  packages/cli/src/util/terragrunt/replaceHCLValue.test.ts
  packages/cli/src/util/terragrunt/replaceHCLValue.ts
Due: hcl-fmt

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  tf-generate-docs: any of: ^packages/infrastructure/
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/.*\.(ts|tsx|astro)$
