Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, typecheck-website, lint-website, typecheck-cli, lint-cli, generate-tf-reference

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/src/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

      - id: typecheck-cli
        name: Typecheck CLI
        entry: precommit-typecheck-cli
        language: system
        files: ^packages/cli/
        pass_filenames: false
        description: "Runs a typecheck on the CLI code"
        fail_fast: true

      - id: lint-cli
        name: Lint CLI
        entry: precommit-lint-cli
        language: system
        files: ^packages/cli/.*\.ts$
        pass_filenames: true
        description: "Runs linting for the CLI code"
        fail_fast: true

      - id: generate-tf-reference
        name: Generate Terraform Reference
        entry: precommit-generate-tf-reference
        language: system
        files: ^packages/infrastructure/[^/]+/
        pass_filenames: true
        description: "Generates terraform reference docs for changed modules"
        fail_fast: false

feat(cluster): add `pf cluster reset` command with --force flag
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/reset/clusterReset.ts
  packages/cli/src/commands/cluster/reset/command.ts
  packages/cli/src/index.ts
Due: typecheck-cli, lint-cli

fix(aws-lb-controller): restrict webhooks to lb-enabled namespaces only
  packages/infrastructure/kube_aws_lb_controller/main.tf
Due: tf-fmt, generate-tf-reference

feat(website): migrate from pnpm/node to bun runtime and package manager
  package.json
  packages/local/lint.nix
  packages/website/Containerfile
  packages/website/package.json
  packages/website/src/components/layouts/docs/sidebar/SidebarMenuButton.tsx
  packages/website/src/components/layouts/docs/sidebar/SidebarSectionList.tsx
  packages/website/src/content/changelog/edge/24-07-08/upgrade.mdx
  packages/website/src/content/changelog/edge/24-09-04/upgrade.mdx
  packages/website/src/content/changelog/edge/24-09-12/upgrade.mdx
  packages/website/src/content/changelog/edge/24-10-15/upgrade.mdx
  packages/website/src/content/changelog/edge/24-11-13/upgrade.mdx
  packages/website/src/content/changelog/edge/24-12-05/upgrade.mdx
  packages/website/src/content/changelog/edge/24-12-11/upgrade.mdx
  packages/website/src/content/changelog/edge/24-12-13/upgrade.mdx
  packages/website/src/content/changelog/edge/24-12-19/upgrade.mdx
  packages/website/src/content/changelog/edge/26-04-05/upgrade.mdx
  packages/website/src/content/changelog/stable/25-04/summary.mdx
  packages/website/src/content/changelog/stable/25-04/upgrade.mdx
  packages/website/src/content/docs/edge/guides/index.tsx
  packages/website/src/content/docs/main/guides/index.tsx
  packages/website/src/pages/presentations/[slug].astro
  pnpm-workspace.yaml
Due: lint-spellcheck, typecheck-website, lint-website

fix(kube_cilium): tolerate karpenter.sh/disrupted taint on cilium pods
  packages/infrastructure/kube_cilium/main.tf
Due: tf-fmt, generate-tf-reference

feat(pre-commit): run bun tests for CLI on pre-commit
  packages/local/lint.nix
Due: none

chore(deps): migrate lockfile from pnpm to bun
  bun.lock
  package.json
  packages/website/package.json
Due: typecheck-website

chore(deps): trust native binary deps install scripts
  bun.lock
  package.json
Due: none

feat(cluster): pre-init extension modules to prevent cache corruption
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/util/terragrunt/terragruntInitAll.ts
  packages/local/lint.nix
Due: typecheck-cli, lint-cli

fix(cluster/add): remove overly prescriptive Vault key storage guidance
  packages/cli/src/commands/cluster/add/command.ts
Due: typecheck-cli, lint-cli

feat(authentik): automate user setup without browser interaction
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/util/sso/getAuthentikBootstrapToken.ts
Due: typecheck-cli, lint-cli

feat(sso/add): wait for Authentik rollout readiness after restart
  .claude/log/1775855010983.json
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: typecheck-cli, lint-cli

fix(sso): forward AUTHENTIK_TOKEN to core resources deployment
  .claude/log/1775857263001.json
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: typecheck-cli, lint-cli

refactor(sso): hardcode akadmin email, remove unnecessary prompt
  .claude/log/1775857844588.json
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: typecheck-cli, lint-cli

fix(sso): fix fragile skip for disabling default Authentik resources
  .claude/log/1775861265604.json
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: typecheck-cli, lint-cli

feat(sso): automate SES sandbox-to-production promotion
  .claude/log/1775862352886.json
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/util/aws/clients/getSESv2Client.ts
Due: typecheck-cli, lint-cli

fix(cli): add sesv2 to lockfile and upgrade bun2nix to v2
  .claude/log/1775871561189.json
  flake.lock
  flake.nix
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/default.nix
  packages/cli/package.json
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/util/context/listrInquirerPromptAdapter.ts
  packages/local/default.nix
  packages/local/lint.nix
Due: nixfmt, typecheck-cli, lint-cli

chore(deps): add configVersion field to bun lockfile
  bun.lock
Due: none

fix(sso): throw actionable error when authentik domain is missing
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: typecheck-cli, lint-cli

fix(sso): handle missing org module YAML on first SSO setup
  .claude/log/1775863242463.json
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: typecheck-cli, lint-cli

chore(root): add eslint to root devDependencies
  .claude/log/1775932946432.json
  package.json
Due: none

feat(sso): add inline confirm validation to SSO federated auth setup
  .claude/log/1775932790986.json
  bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/aws/clients/getSSOAdminClient.ts
  packages/cli/src/util/aws/getIdentityCenterInstanceId.ts
  packages/cli/src/util/context/confirmWithValidate.ts
  packages/cli/src/util/context/logger.ts
Due: nixfmt, typecheck-cli, lint-cli

feat(sso): automate SAML metadata download in SSO setup
  .claude/log/1775933248657.json
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: typecheck-cli, lint-cli

fix(cli): fix Docker Hub PAT validation and tsc in pre-commit hook
  .claude/log/1776013730695.json
  bun.lock
  packages/cli/package.json
  packages/cli/src/commands/cluster/enable/setupECR.ts
Due: typecheck-cli, lint-cli

fix(authentik_github_sso): had the wrong output which caused confusion during setup
  packages/infrastructure/authentik_github_sso/outputs.tf
Due: tf-fmt, generate-tf-reference

refactor(cli): replace withPFCLI bool with structured cli config
  flake.nix
  packages/cli/default.nix
  packages/cli/package.json
  packages/devshell/default.nix
Due: nixfmt, typecheck-cli

fix(vault): use dynamic port for OIDC login callback listener
  .claude/log/1776089765077.json
  packages/cli/bun.nix
  packages/cli/src/util/vault/getVaultToken.ts
Due: nixfmt, typecheck-cli, lint-cli

fix(wf/git-checkout): fix getCommitHash failing on private repos
  .claude/log/1776095119497.json
  packages/cli/src/commands/wf/git-checkout/command.ts
Due: typecheck-cli, lint-cli

feat(terragrunt): make backend bootstrap explicit, require pre-existing
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/terragrunt/terragruntApply.ts
  packages/cli/src/util/terragrunt/terragruntApplyAll.ts
  packages/cli/src/util/terragrunt/terragruntBackendBootstrap.ts
  packages/cli/src/util/terragrunt/terragruntImport.ts
  packages/cli/src/util/terragrunt/terragruntInit.ts
  packages/cli/src/util/terragrunt/terragruntInitAll.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
  packages/devshell/scripts/pf-tf-init.sh
  packages/devshell/scripts/pf-vpc-network-test.sh
Due: typecheck-cli, lint-cli

fix(demo_cicd): double memory limits for nix image builder containers
  .claude/log/1776095575076.json
  infrastructure/demo_cicd/nix_image_builder.tf
Due: none

fix(docker): whitelist bun.lock in .dockerignore
  .claude/log/1776097829034.json
  .dockerignore
Due: none

fix(scraper): copy website package.json stub into scraper image
  .claude/log/1776107160931.json
  packages/scraper/Containerfile
Due: none

fix: website Containerfile
  packages/website/Containerfile
Due: typecheck-website

fix(demo-cicd): increase nix image builder memory limit to 32Gi
  infrastructure/demo_cicd/nix_image_builder.tf
Due: none

fix(docker): whitelist cli package.json in .dockerignore
  .claude/log/1776110044823.json
  .dockerignore
Due: none

chore(bun): pin bun cache to local dir to avoid corrupt installs
  .claude/log/1776106579944.json
  .claude/log/1776107768917.json
  .claude/log/1776107826501.json
  .gitignore
  bunfig.toml
Due: none

fix(lint): run eslint from package dir and pin bun cache locally
  .claude/log/1776115348827.json
  .claude/log/1776116976643.json
  packages/local/lint.nix
Due: none

fix(website): resolve multiple Docker build failures
  .claude/log/1776120719438.json
  .dockerignore
  bun.lock
  package.json
  packages/cli/bun.nix
  packages/cli/package.json
  packages/website/Containerfile
  packages/website/package.json
  packages/website/src/pages/presentations/[slug].astro
Due: nixfmt, typecheck-website, lint-website, typecheck-cli

perf(kube_authentik): increase Authentik postgres min memory to 1GB
  .claude/log/1776125830018.json
  packages/infrastructure/kube_authentik/main.tf
  packages/website/src/content/docs/main/modules/kube_authentik/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference
