Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: tf-generate-docs
        name: Generate Terraform Docs
        entry: generate-tf-docs
        language: system
        files: ^packages/infrastructure/
        pass_filenames: false
        description: "Generates the IaC docs for the website"
        fail_fast: true

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

Federated auth (#360)
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/files/terragrunt/providers/authentik.tftpl
  packages/cli/src/util/config/schemas.ts
  packages/cli/src/util/yaml/upsertPFYAMLFile.ts
Due: hcl-fmt

wip
  packages/cli/src/templates/authentik_vault_sso.hcl
  packages/cli/src/templates/vault_auth_oidc.hcl
  packages/cli/src/util/sso/tasks/deployVaultSSO.ts
Due: hcl-fmt

feat: vault sso
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

moved vault_token to autoload in panfactum.hcl
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/common.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt

silencing vault output
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt

Vault SSO (#361)
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/templates/authentik_vault_sso.hcl
  packages/cli/src/templates/vault_auth_oidc.hcl
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: hcl-fmt

using config.authentik_token vs module output
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/sops/sopsUpsert.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
Due: hcl-fmt

fix: proper fallback for authentik provider & better input instructions
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt

fix: skip logic and input schema
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

fix: various SSO fixes
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/devshell/tasks/syncAWSIdentityCenterTask.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

chore: disable vault credential removal task
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

feat: adds opensearch dashboards, remote storage, and v3
  packages/infrastructure/kube_opensearch/entrypoint.sh
  packages/infrastructure/kube_opensearch/main.tf
  packages/infrastructure/kube_opensearch/outputs.tf
  packages/infrastructure/kube_opensearch/vars.tf
  packages/infrastructure/kube_policies/extra_env.tf
  packages/infrastructure/vault_core_resources/main.tf
  packages/website/src/content/docs/changelog/edge.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_opensearch/index.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, tf-generate-docs, typecheck-website

lint: added schema validation on vault status
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/zod/parseJson.ts
Due: none

feat: better resumability & revoke vault root token
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

fix: namespace not existing race condition
  packages/infrastructure/kube_certificates/main.tf
  packages/infrastructure/kube_certificates/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

feat: check service quotas
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/command.ts
Due: nixfmt

fix: formatting of final messages to user
  packages/cli/src/commands/cluster/add/command.ts
Due: none

fix: init container policies
  packages/infrastructure/kube_policies/extra_env.tf
Due: tf-fmt, tf-generate-docs

removed ecr setup as part of vpc setup
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/enable/command.ts
  packages/cli/src/commands/cluster/enable/setupECR.ts
Due: none

fix: todo updates
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/cluster/reset/clusterReset.ts
Due: none

chore: adjust quota down to 16
  packages/cli/src/commands/cluster/add/command.ts
Due: none

Revert "fix: formatting of final messages to user"
  packages/cli/src/commands/cluster/add/command.ts
Due: none

vCPU check (#363)
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/command.ts
Due: nixfmt

fix: namespace not existing race condition (#362)
  packages/infrastructure/kube_certificates/main.tf
  packages/infrastructure/kube_certificates/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

added skip and vault name
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

wip
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

fix: vault token revocation
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

fix: skip logic for federated auth
  packages/cli/src/commands/sso/add/command.ts
Due: none

providing token to destroy and using -self
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

feat: install vault sso during cluster add
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix:cli: primary region identification algo
  packages/cli/src/util/config/getRegions.ts
Due: none

fix:cli: check if s3 service is active before generating state bucket name
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
Due: none

feat: add global --cwd flag for setting working directory
  packages/cli/src/index.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/context/context.ts
Due: none

added authentik recovery link to output
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: none

fix: attempt 2 at fix primary region
  packages/cli/src/util/config/getRegions.ts
Due: none

fix: .aws gitignore generation
  packages/cli/src/util/devshell/tasks/syncStandardFiles.ts
Due: none

Revert "feat: add global --cwd flag for setting working directory"
  packages/cli/src/index.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/context/context.ts
Due: none

refactor: use factory function for ServiceQuotasClient instantiation
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/util/aws/clients/getServiceQuotasClient.ts
Due: none

refactor: add environment and region selection to cluster add command
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/cluster/reset/clusterReset.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/config/getRegions.ts
Due: none

using kubeApiServer to mark clusterDeployed
  packages/cli/src/util/config/getRegions.ts
Due: none
