Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

tf-generate-docs:
  name: Generate Terraform Docs
  entry: generate-tf-docs
  language: system
  pass_filenames: false
  description: Generates the IaC docs for the website
  fail_fast: true

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

Merge certificates modules (#353)
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/templates/kube_certificates.hcl
  packages/cli/src/templates/kube_external_dns_terragrunt.hcl
  packages/cli/src/templates/kube_ingress_nginx_terragrunt.hcl
  packages/cli/src/templates/kube_keda_terragrunt.hcl
  packages/cli/src/templates/kube_linkerd_terragrunt.hcl
  packages/cli/src/templates/kube_metrics_server_terragrunt.hcl
  packages/cli/src/templates/kube_vpa_terragrunt.hcl
  packages/cli/src/util/terragrunt/constants.ts
  packages/infrastructure/kube_cert_issuers/FOOTER.md
  packages/infrastructure/kube_cert_issuers/README.md
  packages/infrastructure/kube_cert_issuers/vars.tf
  packages/infrastructure/kube_cert_manager/FOOTER.md
  packages/infrastructure/kube_cert_manager/README.md
  packages/infrastructure/kube_cert_manager/config.yaml
  packages/infrastructure/kube_cert_manager/main.tf
  packages/infrastructure/kube_cert_manager/outputs.tf
  packages/infrastructure/kube_certificates/README.md
  packages/infrastructure/kube_certificates/config.yaml
  packages/infrastructure/kube_certificates/dashboard.json
  packages/infrastructure/kube_certificates/main.tf
  packages/infrastructure/kube_certificates/outputs.tf
  packages/infrastructure/kube_certificates/vars.tf
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_issuers/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_manager/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

chore: removed ingress_domains input from doc (#335)
  packages/website/src/content/docs/main/guides/bootstrapping/inbound-networking/index.mdx
Due: lint-spellcheck, typecheck-website

fix:cli: domain interpolation issues
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
Due: none

fix: permissions after service account is created
  packages/infrastructure/kube_certificates/main.tf
Due: tf-fmt, tf-generate-docs

fix:cli: aws client fixes + welcome screen + org create success section
  packages/cli/src/commands/domain/add/getDomainPrice.ts
  packages/cli/src/commands/domain/add/isDomainAvailableFromAWS.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getEnvironmentName.ts
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/util/aws/clients/getAccountClient.ts
  packages/cli/src/util/aws/clients/getIAMClient.ts.ts
  packages/cli/src/util/aws/clients/getOrganizationsClient.ts
  packages/cli/src/util/aws/clients/getRoute53DomainsClient.ts
  packages/cli/src/util/aws/clients/getS3Client.ts
  packages/cli/src/util/aws/clients/getSTSClient.ts
Due: none

fix: wf_dockerfile_build private repo auth
  packages/infrastructure/wf_dockerfile_build/scripts/setup.sh
  packages/nix/packages/scripts/pf-get-commit-hash.sh
Due: shellcheck, shellfmt, tf-generate-docs

added changelog
  packages/website/src/content/docs/changelog/stable-25-04.mdx
Due: lint-spellcheck, typecheck-website

fix: welcome screen on install
  packages/cli/src/commands/welcome/command.ts
Due: none

fix: correct the circular dependency
  packages/infrastructure/kube_certificates/main.tf
Due: tf-fmt, tf-generate-docs

fix: reduce the required git version
  packages/installer/install.sh
Due: shellcheck, shellfmt

fix: add automatic direnv sourcing
  packages/installer/install.sh
Due: shellcheck, shellfmt

docs: upgrade guide for certificates
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, typecheck-website

wip
  packages/cli/src/commands/cluster/add/setupAuthentik.ts
  packages/cli/src/templates/authentk_core_resources.hcl
  packages/cli/src/templates/aws_ses_domain.hcl
  packages/cli/src/templates/kube_authentik.hcl
  packages/cli/src/util/fs/findFolder.ts
  packages/cli/src/util/terragrunt/constants.ts
Due: hcl-fmt

wip
  packages/cli/src/commands/cluster/add/setupAuthentik.ts
Due: none

fixes: resumability, correct templates
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupAuthentik.ts
  packages/cli/src/templates/authentk_core_resources.hcl
  packages/cli/src/templates/aws_ses_domain.hcl
  packages/cli/src/templates/kube_authentik.hcl
Due: hcl-fmt

chore: adds backup:TagResource to backup-terraform role
  packages/infrastructure/tf_bootstrap_resources/main.tf
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

fix:installer: direnv shell reload warning
  packages/installer/install.sh
Due: shellcheck, shellfmt

fix: wf_dockerfile_build private repo auth
  packages/infrastructure/wf_dockerfile_build/scripts/setup.sh
  packages/nix/packages/scripts/pf-get-commit-hash.sh
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-generate-docs, typecheck-website

fix: disable the pf cli in this repo's devshell
  .envrc
  flake.nix
  packages/cli/bun.nix
  packages/nix/packages/default.nix
Due: nixfmt

fix: wf_dockerfile_build private repo auth
  packages/infrastructure/wf_dockerfile_build/scripts/setup.sh
Due: shellcheck, shellfmt, tf-generate-docs

chore: final updates
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/deployModule.ts
  packages/cli/src/commands/cluster/install/kube/inbound-networking.ts
  packages/cli/src/commands/cluster/install/kube/maintenance-controllers.ts
  packages/cli/src/commands/cluster/install/kube/postgres.ts
  packages/cli/src/commands/cluster/install/setupCloudNativePG.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupMaintenanceControllers.ts
  packages/cli/src/context/logger.ts
Due: none

instantiate inbound networking
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/kube/inbound-networking.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

autoscaling
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/deployModule.ts
  packages/cli/src/commands/cluster/install/kube/autoscaling.ts
  packages/cli/src/commands/cluster/install/kube/linkerd.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/terragrunt/runAllApply.ts
  packages/cli/src/util/subprocess/execute.ts
Due: none

chore: vault updates
  packages/cli/eslint.config.js
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/common.ts
  packages/cli/src/commands/cluster/install/deployModule.ts
  packages/cli/src/commands/cluster/install/kube/autoscaling.ts
  packages/cli/src/commands/cluster/install/kube/cert-management.ts
  packages/cli/src/commands/cluster/install/kube/inbound-networking.ts
  packages/cli/src/commands/cluster/install/kube/linkerd.ts
  packages/cli/src/commands/cluster/install/kube/vault.ts
  packages/cli/src/commands/cluster/install/setupVPC.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/cluster/install/setupVaultCoreResources.ts
  packages/cli/src/commands/config/get/getPanfactumConfig.ts
  packages/cli/src/util/config/schemas.ts
  packages/cli/src/util/error/error.ts
  packages/cli/src/util/error/parseErrorHandler.ts
  packages/cli/src/util/sops/sopsDecrypt.ts
  packages/cli/src/util/sops/sopsUpsert.ts
  packages/cli/src/util/start-background-process.ts
  packages/cli/src/util/subprocess/backgroundProcess.ts
  packages/cli/src/util/subprocess/execute.ts
Due: none

chore: vault core resources
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupVaultCoreResources.ts
  packages/cli/src/util/subprocess/vaultProxy.ts
Due: none

linkerd
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
Due: none

chore: cert management
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/kube/cert-management.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
Due: none

cert issuers
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/common.ts
  packages/cli/src/commands/cluster/install/deployModule.ts
  packages/cli/src/commands/cluster/install/kube/cert-management.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/cluster/install/setupVaultCoreResources.ts
Due: none

chore: update cli todos
  .vscode/settings.json
  packages/cli/src/commands/aws/vpc-network-test/vpcNetworkTest.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupVPC.ts
  packages/cli/src/commands/cluster/install/user-prompts/sla.ts
  packages/cli/src/util/aws/testVPCNetworkBlocking.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
  packages/website/src/pages/plus/pricing/_components/PricingSection/PlanTiers/UsageOptions.tsx
Due: typecheck-website, lint-website

fix: comment some things for compilation
  packages/cli/src/commands/devshell/update/buildKubeConfig.ts
  packages/cli/src/commands/devshell/update/buildSSHConfig.ts
Due: none

fix: CLI updates (#339)
  packages/cli/src/commands/aws/vpc-network-test/vpcNetworkTest.ts
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/common.ts
  packages/cli/src/commands/cluster/install/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupVPC.ts
  packages/cli/src/commands/devshell/update/buildBuildkitConfig.ts
  packages/cli/src/commands/devshell/update/buildKubeConfig.ts
  packages/cli/src/commands/devshell/update/buildSSHConfig.ts
  packages/cli/src/util/aws/testVPCNetworkBlocking.ts
  packages/cli/src/util/scripts/update-aws.ts
  packages/cli/src/util/scripts/update-kube.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
Due: none

added docs
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, typecheck-website

fix: website builds
  .pre-commit-config.yaml
  packages/website/Containerfile
  pnpm-workspace.yaml
Due: typecheck-website

chore: add additional debug logs
  packages/cli/src/commands/cluster/install/setupVPC.ts
Due: none

fix: kube_opensearch - specifying s3.client.default.endpoint to fix 307
  packages/infrastructure/kube_opensearch/main.tf
Due: tf-fmt, tf-generate-docs

fix: only ask for cla confirmation once
  packages/cli/src/commands/cluster/install/checkpointer.ts
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setSLA.ts
Due: none

feat: added vault secrets integration and additional env variable support for airbyte (#329)
  packages/infrastructure/kube_airbyte/main.tf
  packages/infrastructure/kube_airbyte/scripts/vault_token_rotate.sh
  packages/infrastructure/kube_airbyte/vars.tf
  packages/infrastructure/vault_core_resources/main.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_airbyte/index.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, tf-generate-docs, typecheck-website

fix: added AAAA record for cdn dns record
  packages/infrastructure/aws_cdn/main.tf
Due: tf-fmt, tf-generate-docs

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  tf-generate-docs: any of: ^packages/infrastructure/
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/.*\.(ts|tsx|astro)$
