Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

tf-generate-docs:
  name: Generate Terraform Docs
  entry: generate-tf-docs
  language: system
  pass_filenames: false
  description: Generates the IaC docs for the website
  fail_fast: true

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

refactor: convert remaining Zod parse calls to safeParse
  packages/cli/src/commands/buildkit/get-address/command.ts
  packages/cli/src/commands/buildkit/record-build/command.ts
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/iac/update-module-status/command.ts
Due: none

refactor: update docker credential helper error handling to follow style guide
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/util/docker/getECRToken.ts
  packages/cli/src/util/kube/getAWSProfileForContext.ts
Due: none

refactor: update getDomainPrice error handling to follow style guide
  packages/cli/src/commands/domain/add/getDomainPrice.ts
Due: none

refactor: update isDomainAvailableFromAWS error handling to follow style guide
  packages/cli/src/commands/domain/add/isDomainAvailableFromAWS.ts
Due: none

refactor: update registerDomain error handling to follow style guide
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

refactor: update checkAdminPermissions error handling to follow style guide
  packages/cli/src/commands/env/add/checkAdminPermissions.ts
Due: none

fix: throw CLIError when AWS clients cannot be created
  packages/cli/src/commands/env/add/checkAdminPermissions.ts
Due: none

refactor: update getAccountEmail error handling to follow style guide
  packages/cli/src/commands/env/add/getAccountEmail.ts
Due: none

refactor: remove unnecessary Zod validation for typed AWS SDK responses
  packages/cli/src/commands/env/add/checkAdminPermissions.ts
  packages/cli/src/commands/env/add/getAccountEmail.ts
Due: none

refactor: remove unnecessary Zod validation for typed AWS SDK responses in domain commands
  packages/cli/src/commands/domain/add/getDomainPrice.ts
  packages/cli/src/commands/domain/add/isDomainAvailableFromAWS.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

refactor: remove unnecessary validation for self-created objects
  packages/cli/src/commands/docker/credential-helper/command.ts
Due: none

refactor: remove unnecessary Zod validation from getEKSToken
  packages/cli/src/util/aws/getEKSToken.ts
Due: none

style: remove file header comments from getEKSToken.ts
  packages/cli/src/util/aws/getEKSToken.ts
Due: none

fix: mdx renderer
  packages/website/package.json
  pnpm-lock.yaml
Due: typecheck-website

fix: Head element on website
  packages/website/src/components/layouts/common/CommonHead.astro
  packages/website/src/components/layouts/docs/Layout.astro
  packages/website/src/components/layouts/primary/Layout.astro
Due: typecheck-website, lint-website

fix: other conflicts
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/commands/domain/add/createDescendentZones.ts
  packages/cli/src/util/db/getTempCredentials.ts
  packages/cli/src/util/db/listDatabases.ts
  packages/cli/src/util/vault/getDBCreds.ts
  packages/website/src/content/docs/main/reference/infrastructure-modules/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/workflow/wf_dockerfile_build/index.mdx
Due: lint-spellcheck, typecheck-website

fix: cli styleguide
  packages/cli/CLAUDE.md
  packages/cli/README.md
  packages/cli/STYLE_GUIDE.md
Due: lint-spellcheck

feat: adds first CLI unit tests
  packages/cli/src/index.ts
  packages/cli/src/util/config/getConfigValuesFromFile.ts
  packages/cli/src/util/domains/getDomains.test.ts
  packages/cli/src/util/domains/getDomains.ts
  packages/cli/src/util/fs/createDirectory.test.ts
  packages/cli/src/util/fs/directoryExists.test.ts
  packages/cli/src/util/fs/fileContains.test.ts
  packages/cli/src/util/fs/fileExists.test.ts
  packages/cli/src/util/fs/findFolder.test.ts
  packages/cli/src/util/fs/findFolder.ts
  packages/cli/src/util/fs/getLastPathSegments.test.ts
  packages/cli/src/util/fs/getRelativeFromRoot.test.ts
  packages/cli/src/util/fs/getRelativeFromRoot.ts
  packages/cli/src/util/fs/removeDirectory.test.ts
  packages/cli/src/util/fs/removeFile.test.ts
  packages/cli/src/util/fs/writeFile.test.ts
  packages/cli/src/util/terragrunt/getModuleStatus.ts
Due: none

feat: adds workflow-only node support to wf_spec
  packages/infrastructure/kube_workload_utility/main.tf
  packages/infrastructure/kube_workload_utility/vars.tf
  packages/infrastructure/wf_spec/main.tf
  packages/infrastructure/wf_spec/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_workload_utility/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/workflow/wf_spec/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

feat(kube_pg_cluster): support targetImmediate recovery
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_pg_cluster/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

chore: remove unnecessary file
  packages/website/src/content/docs/main/modules.json
Due: typecheck-website

feat: adds the ability to run opensearch in single-node mode
  packages/infrastructure/kube_aws_creds/main.tf
  packages/infrastructure/kube_opensearch/main.tf
  packages/infrastructure/kube_opensearch/vars.tf
Due: tf-fmt, tf-generate-docs

feat(kube_pg_cluster): support targetImmediate recovery (#375)
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_pg_cluster/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

feat(kube_pg_cluster): support custom_image
  packages/infrastructure/kube_pg_cluster/README.md
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

feat(kube_pg_cluster): support custom_image (#376)
  packages/infrastructure/kube_pg_cluster/README.md
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

fix: restoring backups from remote bucket
  packages/infrastructure/kube_pg_cluster/main.tf
Due: tf-fmt, tf-generate-docs

docs: clarify new variables
  packages/infrastructure/kube_pg_cluster/README.md
  packages/infrastructure/kube_pg_cluster/vars.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

fix: manifest error requires all fields to be present
  packages/infrastructure/kube_pg_cluster/main.tf
Due: tf-fmt, tf-generate-docs

fix: kube pg cluster recover from remote backups (#377)
  packages/infrastructure/kube_pg_cluster/README.md
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

fix:website: docs paths
  packages/website/src/components/layouts/docs/sidebar/SidebarSectionList.tsx
  packages/website/src/state/docsVersion.tsx
Due: typecheck-website, lint-website

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  tf-generate-docs: any of: ^packages/infrastructure/
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/.*\.(ts|tsx|astro)$
