Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: tf-generate-docs
        name: Generate Terraform Docs
        entry: generate-tf-docs
        language: system
        files: ^packages/infrastructure/
        pass_filenames: false
        description: "Generates the IaC docs for the website"
        fail_fast: true

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

feat: add vault get-db-creds CLI command and update tunnel command
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/vault/get-db-creds/command.ts
  packages/cli/src/index.ts
  packages/infrastructure/kube_disruption_window_controller/main.tf
  packages/infrastructure/wf_tf_deploy/scripts/deploy.sh
  packages/infrastructure/wf_tf_deploy/scripts/force-unlock.sh
  packages/website/src/content/docs/main/modules.json
Due: shellcheck, shellfmt, tf-fmt, tf-generate-docs, typecheck-website

fix: add explicit platform specification to buildctl command
  packages/cli/src/commands/buildkit/build/command.ts
Due: none

refactor: enhance database tunneling with environment selection and NATS support
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/util/config/getEnvironments.ts
  packages/cli/src/util/db/getTempCredentials.ts
  packages/cli/src/util/db/getVaultRole.ts
  packages/cli/src/util/db/listDatabases.ts
  packages/cli/src/util/db/types.ts
  packages/infrastructure/kube_buildkit/main.tf
  packages/infrastructure/wf_dockerfile_build/scripts/build.sh
  packages/infrastructure/wf_dockerfile_build/scripts/scale-buildkit.sh
  packages/nix/packages/scripts/pf-db-tunnel.sh
Due: shellcheck, shellfmt, tf-fmt, tf-generate-docs

refactor: update docker credential helper to use CLI command with proper AWS profile lookup
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/docker/credentialCache.ts
  packages/nix/packages/scripts/docker-credential-panfactum.sh
Due: shellcheck, shellfmt

refactor: update workflow git-checkout to properly replicate bash script behavior
  packages/cli/src/commands/workflow/git-checkout/command.ts
  packages/infrastructure/wf_dockerfile_build/scripts/clone.sh
  packages/infrastructure/wf_tf_deploy/scripts/deploy.sh
  packages/infrastructure/wf_tf_deploy/scripts/force-unlock.sh
Due: shellcheck, shellfmt, tf-generate-docs

refactor: consolidate vault token retrieval into CLI config
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/index.ts
  packages/cli/src/util/config/getPanfactumConfig.ts
Due: hcl-fmt

refactor: update terragrunt config to use new CLI util subcommands
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt

refactor: reorganize CLI commands into tf and wf namespaces
  packages/cli/src/commands/tf/delete-locks/command.ts
  packages/cli/src/commands/tf/init/command.ts
  packages/cli/src/commands/wf/git-checkout/command.ts
  packages/cli/src/commands/wf/sops-set-profile/command.ts
  packages/cli/src/commands/workflow/git-checkout/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/git/getCommitHash.ts
  packages/infrastructure/wf_dockerfile_build/scripts/clone.sh
  packages/infrastructure/wf_dockerfile_build/scripts/scale-buildkit.sh
  packages/infrastructure/wf_tf_deploy/scripts/deploy.sh
  packages/infrastructure/wf_tf_deploy/scripts/force-unlock.sh
Due: shellcheck, shellfmt, tf-generate-docs

feat: add buildkit CLI commands for get-address and record-build
  CLAUDE.md
  packages/cli/src/commands/buildkit/get-address/command.ts
  packages/cli/src/commands/buildkit/record-build/command.ts
  packages/cli/src/index.ts
  packages/infrastructure/wf_dockerfile_build/scripts/build.sh
Due: lint-spellcheck, shellcheck, shellfmt, tf-generate-docs

refactor: migrate disruption and buildkit commands from bash scripts to CLI
  CLAUDE.md
  packages/cli/CLAUDE.md
  packages/cli/src/commands/buildkit/clear-cache/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/index.ts
  packages/infrastructure/kube_buildkit/main.tf
  packages/infrastructure/kube_disruption_window_controller/main.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

refactor: replace legacy scripts with CLI commands in infrastructure modules
  packages/infrastructure/wf_dockerfile_build/scripts/setup.sh
  packages/infrastructure/wf_tf_deploy/scripts/force-unlock.sh
Due: shellcheck, shellfmt, tf-generate-docs

refactor: migrate additional infrastructure scripts to CLI commands
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/buildkit/config.ts
  packages/cli/src/util/vault/getToken.ts
  packages/infrastructure/kube_velero/main.tf
Due: hcl-fmt, tf-fmt, tf-generate-docs

feat: add k8s get-token CLI command to replace pf-get-kube-token script
  packages/cli/src/commands/k8s/get-token/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/devshell/updateKubeConfig.ts
Due: none

removed planning docs
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/pf-get-open-port-migration-plan.md
  packages/cli/plan.md
  packages/cli/src/commands/buildkit/MIGRATION_PLAN.md
Due: lint-spellcheck

cleanup: remove unused enquirer dependency from CLI package
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
Due: nixfmt

removed debug
  packages/cli/src/util/vault/README.md
  packages/nix/packages/scripts/pf-db-tunnel.sh
Due: lint-spellcheck, shellcheck, shellfmt

removed plan
  packages/nix/script-dependency-graph.md
Due: lint-spellcheck

removing process.cwd from util
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/util/buildkit/getAddress.ts
Due: none

update validateRootProfile to check for root user instead of organization account
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/buildkit/getLastBuildTime.ts
  packages/cli/src/util/buildkit/recordBuild.ts
  packages/cli/src/util/config/getPanfactumConfig.ts
  packages/cli/src/util/docker/getEcrToken.ts
  packages/cli/src/util/eks/validateRootProfile.ts
  packages/cli/src/util/git/getCommitHash.ts
Due: none

use absolute imports with @ alias for k8s cluster commands
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
Due: none

fix: website build
  packages/website/Containerfile
  packages/website/package.json
  packages/website/src/content/docs/edge/reference/infrastructure-modules/kube_cert_issuers/index.mdx
  packages/website/src/content/docs/edge/reference/infrastructure-modules/submodule/workflow/wf_dockerfile_build/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/kube_cert_issuers/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/workflow/wf_dockerfile_build/index.mdx
  packages/website/src/pages/changelog/[...page].astro
  pnpm-lock.yaml
Due: lint-spellcheck, typecheck-website, lint-website

fix: website builds
  packages/website/astro.config.mjs
  packages/website/src/pages/index.astro
Due: typecheck-website, lint-website

docs: add CLAUDE.md files for AI assistant guidance across repository
  CLAUDE.md
  cspell.config.yaml
  packages/cli/CLAUDE.md
  packages/infrastructure/CLAUDE.md
Due: lint-spellcheck, tf-generate-docs

feat(cli): migrate shell scripts to CLI commands
  flake.nix
  packages/cli/MIGRATION_PLAN.md
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/devshell/enter/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/commands/k8s/disruptions/enable/command.ts
  packages/cli/src/commands/k8s/velero/snapshot-gc/command.ts
  packages/cli/src/commands/sops/set-profile/command.ts
  packages/cli/src/commands/terraform/init/command.ts
  packages/cli/src/commands/util/get-commit-hash/command.ts
  packages/cli/src/commands/util/get-module-hash/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/git/getCommitHash.ts
  packages/cli/src/util/network/getOpenPort.ts
  packages/cli/src/util/terragrunt/getModuleHash.ts
  packages/nix/packages/scripts/pf-get-commit-hash.sh
  packages/nix/packages/scripts/pf-get-local-module-hash.sh
Due: lint-spellcheck, shellcheck, shellfmt

feat: migrate Phase 2 authentication scripts to CLI
  packages/bastion/CLAUDE.md
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/pf-get-open-port-migration-plan.md
  packages/cli/plan.md
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/commands/k8s/disruptions/enable/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/vault/README.md
  packages/cli/src/util/vault/getDbCreds.ts
  packages/cli/src/util/vault/getToken.ts
  packages/cli/src/util/vault/index.ts
  packages/installer/CLAUDE.md
  packages/nix/CLAUDE.md
  packages/nix/script-dependency-graph.md
  packages/scraper/CLAUDE.md
  packages/vault/CLAUDE.md
  packages/website/CLAUDE.md
Due: lint-spellcheck, typecheck-website

feat: migrate Phase 3 infrastructure management scripts to CLI
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/terraform/delete-locks/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/index.ts
Due: lint-spellcheck, nixfmt

feat(cli): migrate Phase 4 BuildKit scripts to TypeScript CLI commands
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/src/commands/buildkit/MIGRATION_PLAN.md
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/buildkit/cache/clear/command.ts
  packages/cli/src/commands/buildkit/scale/down/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/buildkit/config.ts
  packages/cli/src/util/buildkit/constants.ts
  packages/cli/src/util/buildkit/getAddress.ts
  packages/cli/src/util/buildkit/getLastBuildTime.ts
  packages/cli/src/util/buildkit/index.ts
  packages/cli/src/util/buildkit/recordBuild.ts
Due: lint-spellcheck

feat(cli): migrate Phase 5 advanced operations scripts to TypeScript
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/workflow/git-checkout/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/db/getTempCredentials.ts
  packages/cli/src/util/db/getVaultRole.ts
  packages/cli/src/util/db/listDatabases.ts
  packages/cli/src/util/db/types.ts
  packages/cli/src/util/docker/credentialCache.ts
  packages/cli/src/util/docker/getEcrToken.ts
  packages/cli/src/util/eks/types.ts
  packages/cli/src/util/eks/validateRootProfile.ts
Due: lint-spellcheck

fix: resolve TypeScript errors in Phase 5 commands
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/workflow/git-checkout/command.ts
  packages/cli/src/util/eks/validateRootProfile.ts
Due: none

fix: match bash implementation in get-module-hash command
  packages/cli/src/commands/util/get-module-hash/command.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/terragrunt/getModuleHash.ts
  packages/nix/packages/scripts/pf-get-local-module-hash.sh
Due: shellcheck, shellfmt, hcl-fmt

fix: add newline to get-commit-hash command output
  packages/cli/src/commands/util/get-commit-hash/command.ts
Due: none

feat: add vault get-token CLI command
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/vault/get-token/command.ts
  packages/cli/src/index.ts
Due: none
