Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

tf-generate-docs:
  name: Generate Terraform Docs
  entry: generate-tf-docs
  language: system
  pass_filenames: false
  description: Generates the IaC docs for the website
  fail_fast: true

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

refactor: update terragrunt config to use new CLI util subcommands
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt

refactor: migrate disruption and buildkit commands from bash scripts to CLI
  CLAUDE.md
  packages/cli/CLAUDE.md
  packages/cli/src/commands/buildkit/clear-cache/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/index.ts
  packages/infrastructure/kube_buildkit/main.tf
  packages/infrastructure/kube_disruption_window_controller/main.tf
Due: lint-spellcheck, tf-fmt, tf-generate-docs

feat: add buildkit CLI commands for get-address and record-build
  CLAUDE.md
  packages/cli/src/commands/buildkit/get-address/command.ts
  packages/cli/src/commands/buildkit/record-build/command.ts
  packages/cli/src/index.ts
  packages/infrastructure/wf_dockerfile_build/scripts/build.sh
Due: lint-spellcheck, shellcheck, shellfmt, tf-generate-docs

refactor: migrate additional infrastructure scripts to CLI commands
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/buildkit/config.ts
  packages/cli/src/util/vault/getToken.ts
  packages/infrastructure/kube_velero/main.tf
Due: hcl-fmt, tf-fmt, tf-generate-docs

feat: add k8s get-token CLI command to replace pf-get-kube-token script
  packages/cli/src/commands/k8s/get-token/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/devshell/updateKubeConfig.ts
Due: none

refactor: replace legacy scripts with CLI commands in infrastructure modules
  packages/infrastructure/wf_dockerfile_build/scripts/setup.sh
  packages/infrastructure/wf_tf_deploy/scripts/force-unlock.sh
Due: shellcheck, shellfmt, tf-generate-docs

cleanup: remove unused enquirer dependency from CLI package
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
Due: nixfmt

removed planning docs
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/pf-get-open-port-migration-plan.md
  packages/cli/plan.md
  packages/cli/src/commands/buildkit/MIGRATION_PLAN.md
Due: lint-spellcheck

removed debug
  packages/cli/src/util/vault/README.md
  packages/nix/packages/scripts/pf-db-tunnel.sh
Due: lint-spellcheck, shellcheck, shellfmt

removed plan
  packages/nix/script-dependency-graph.md
Due: lint-spellcheck

use absolute imports with @ alias for k8s cluster commands
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
Due: none

removing process.cwd from util
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/util/buildkit/getAddress.ts
Due: none

update validateRootProfile to check for root user instead of organization account
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/buildkit/getLastBuildTime.ts
  packages/cli/src/util/buildkit/recordBuild.ts
  packages/cli/src/util/config/getPanfactumConfig.ts
  packages/cli/src/util/docker/getEcrToken.ts
  packages/cli/src/util/eks/validateRootProfile.ts
  packages/cli/src/util/git/getCommitHash.ts
Due: none

Standardize error handling to use CLIError throughout CLI
  CLAUDE.md
  packages/cli/CLAUDE.md
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/wf/git-checkout/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/buildkit/config.ts
  packages/cli/src/util/buildkit/getAddress.ts
  packages/cli/src/util/context/getRepoVariables.ts
  packages/cli/src/util/context/teminal-columns/terminalColumns.ts
  packages/cli/src/util/context/teminal-columns/utils/computeColumnWidths.ts
  packages/cli/src/util/eks/validateRootProfile.ts
  packages/cli/src/util/git/getCommitHash.ts
  packages/cli/src/util/network/getOpenPort.ts
  packages/cli/src/util/vault/getDbCreds.ts
  packages/cli/src/util/vault/getToken.ts
Due: lint-spellcheck

feat: implement VPC network test command with environment/region selection
  packages/cli/src/commands/aws/vpcNetworkTest/command.ts
  packages/cli/src/index.ts
Due: none

refactor: replace execSync with execute utility and update Vault function signatures
  packages/cli/CLAUDE.md
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/vault/get-db-creds/command.ts
  packages/cli/src/commands/vault/get-token/command.ts
  packages/cli/src/util/config/getPanfactumConfig.ts
  packages/cli/src/util/db/getTempCredentials.ts
  packages/cli/src/util/vault/getDbCreds.ts
  packages/cli/src/util/vault/getVaultToken.ts
  packages/cli/src/util/vault/index.ts
Due: lint-spellcheck

move CLI architecture details to CLI package documentation
  CLAUDE.md
  packages/cli/CLAUDE.md
Due: lint-spellcheck

feat: add Zod schema validation to ECR token retrieval
  packages/cli/src/util/docker/getEcrToken.ts
Due: none

feat: add Zod schema validation to Vault database credentials parsing
  packages/cli/src/commands/vault/get-db-creds/command.ts
  packages/cli/src/util/vault/getDBCreds.ts
Due: none

refactor: use parseJson utility and improve Zod schemas for Vault operations
  packages/cli/src/util/vault/getDBCreds.ts
  packages/cli/src/util/vault/getVaultToken.ts
  packages/cli/zod-validation-plan.md
Due: lint-spellcheck

refactor: simplify EKS token generation with AWS CLI and Zod validation
  packages/cli/src/commands/k8s/get-token/command.ts
  packages/cli/src/util/aws/getEksToken.ts
Due: none

refactor: migrate ECR token retrieval from CLI to AWS SDK
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/util/docker/getEcrToken.ts
Due: nixfmt

refactor: remove side effects from getCommitHash utility and add Zod validation
  packages/cli/src/commands/util/get-commit-hash/command.ts
  packages/cli/src/commands/wf/git-checkout/command.ts
  packages/cli/src/util/git/getCommitHash.ts
Due: none

refactor: remove side effects from getCommitHash utility and add Zod validation
  packages/cli/CLAUDE.md
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/aws/vpcNetworkTest/vpcNetworkTest.ts
  packages/cli/src/util/aws/checkImageExists.ts
  packages/cli/src/util/aws/clients/getAutoScalingClient.ts
  packages/cli/src/util/aws/clients/getECRClient.ts
  packages/cli/src/util/aws/clients/getECRPublicClient.ts
  packages/cli/src/util/aws/clients/getSSMClient.ts
  packages/cli/src/util/aws/getIdentity.ts
  packages/cli/src/util/aws/getSSMCommandOutput.ts
  packages/cli/src/util/aws/scaleASG.ts
  packages/cli/src/util/docker/getEcrToken.ts
  packages/cli/src/util/eks/validateRootProfile.ts
  packages/cli/zod-validation-plan.md
Due: lint-spellcheck, nixfmt

refactor: improve type safety by removing non-null assertions and refactoring error handling
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/iac/update-module-status/command.ts
  packages/cli/src/util/domains/tasks/getZonesTask.ts
  packages/cli/src/util/error/parseErrorHandler.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

refactor: standardize context validation to use readYAMLFile across buildkit commands
  packages/cli/src/commands/buildkit/clear-cache/command.ts
  packages/cli/src/commands/buildkit/scale/down/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/util/aws/getProfileForContext.ts
Due: none

refactor: eliminate unsafe TypeScript 'as' assertions with proper type validation
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/buildkit/clear-cache/command.ts
  packages/cli/src/commands/buildkit/get-address/command.ts
  packages/cli/src/commands/buildkit/record-build/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/cluster/add/setSLA.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/enable/command.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/commands/k8s/disruptions/enable/command.ts
  packages/cli/src/commands/k8s/velero/snapshot-gc/command.ts
  packages/cli/src/commands/tf/delete-locks/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/wf/sops-set-profile/command.ts
  packages/cli/src/util/docker/credentialCache.ts
  packages/cli/src/util/types/typeGuards.ts
  packages/cli/src/util/vault/getDBCreds.ts
Due: none

fix: use String() conversion instead of type assertion in error message
  packages/cli/src/commands/cluster/enable/command.ts
Due: none

refactor: replace spawn with execute and extract waitForPort utility
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/util/network/waitForPort.ts
Due: none

refactor: eliminate non-null assertions in ECR wait-on-image command
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
Due: none

refactor: replace existsSync with Bun fileExists utility
  packages/cli/src/commands/buildkit/build/command.ts
Due: none

docs: add explanatory comment for split().filter(Boolean) pattern
  packages/cli/src/commands/buildkit/clear-cache/command.ts
Due: none

Improve buildkit scale up command with configurable timeout and parallel scaling
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/tf/init/command.ts
  packages/cli/src/index.ts
Due: none

Add AWS Account ID and region validation to ECR wait command
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/util/aws/schemas.ts
Due: none

fix: improve error handling in buildkit clear-cache command
  packages/cli/src/commands/buildkit/clear-cache/command.ts
Due: none

Update flake.nix to use enter-shell-local instead of pf devshell enter
  flake.nix
Due: none

Remove devshell enter command
  packages/cli/src/commands/devshell/enter/command.ts
  packages/cli/src/index.ts
Due: none

Update tunnel command examples to avoid database usage
  packages/cli/src/commands/tunnel/command.ts
Due: none

Remove noop parameter from vault token utilities
  packages/cli/src/commands/vault/get-token/command.ts
  packages/cli/src/util/config/getPanfactumConfig.ts
  packages/cli/src/util/vault/getVaultToken.ts
Due: none

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  tf-generate-docs: any of: ^packages/infrastructure/
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/.*\.(ts|tsx|astro)$
