Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: tf-generate-docs
        name: Generate Terraform Docs
        entry: generate-tf-docs
        language: system
        files: ^packages/infrastructure/
        pass_filenames: false
        description: "Generates the IaC docs for the website"
        fail_fast: true

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

Refactor imports and enhance environment/region metadata
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/config/getAllRegions.ts
  packages/cli/src/util/config/getEnvironments.ts
Due: none

Add region utilities and enhance bastion deployment tracking
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/util/config/getAllRegions.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/config/isBastionDeployed.ts
Due: none

Fix CLIError construction with proper cause chaining
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/k8s/get-token/command.ts
  packages/cli/src/commands/tf/delete-locks/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/util/aws/getProfileForContext.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/vault/getDBCreds.ts
  packages/cli/src/util/vault/getVaultToken.ts
Due: none

Improve timeout parameter validation with Zod schemas
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/buildkit/scale/down/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
Due: none

fix: maturity model page titles
  packages/website/src/content/maturity/index.mdx
  packages/website/src/content/maturity/measures/downtime-visibility.mdx
  packages/website/src/content/maturity/measures/kpis.mdx
  packages/website/src/content/maturity/measures/security-backlog.mdx
  packages/website/src/content/maturity/pillars/automation/index.mdx
  packages/website/src/content/maturity/pillars/immediate-integration/index.mdx
  packages/website/src/content/maturity/pillars/observability/index.mdx
  packages/website/src/content/maturity/pillars/performance/index.mdx
  packages/website/src/content/maturity/pillars/resiliency/index.mdx
  packages/website/src/content/maturity/pillars/security/index.mdx
Due: lint-spellcheck, typecheck-website

fix: grammar errors
  packages/website/src/content/maturity/pillars/observability/index.mdx
Due: lint-spellcheck, typecheck-website

Add readJSONFile utility and improve buildkit config validation
  packages/cli/src/util/buildkit/config.ts
  packages/cli/src/util/config/getAllRegions.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/json/readJSONFile.ts
Due: none

Add comprehensive Zod validation for external data parsing
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/iac/delete-locks/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/getEksToken.ts
Due: none

Refactor architecture enum to use pure Zod schema approach
  packages/cli/src/commands/buildkit/get-address/command.ts
  packages/cli/src/commands/buildkit/record-build/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/buildkit/constants.ts
Due: none

Refactor cluster enable feature enum to use pure Zod schema approach
  packages/cli/src/commands/cluster/enable/command.ts
Due: none

Refactor db tunnel command to use Zod validation instead of validateEnum
  packages/cli/src/commands/db/tunnel/command.ts
Due: none

Refactor database types to use pure Zod schema approach
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/util/db/types.ts
Due: none

Replace manual parseInt with Zod validation in k8s disruptions disable
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
Due: none

Replace JSON.parse with parseJson and Zod validation in k8s cluster resume
  CLAUDE.md
  packages/bastion/CLAUDE.md
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/util/types/typeGuards.ts
  packages/infrastructure/CLAUDE.md
  packages/installer/CLAUDE.md
  packages/nix/CLAUDE.md
  packages/scraper/CLAUDE.md
  packages/vault/CLAUDE.md
  packages/website/CLAUDE.md
Due: lint-spellcheck, tf-generate-docs, typecheck-website

Centralize AWS CLI output schemas to eliminate duplication
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/util/aws/schemas.ts
Due: none

Simplify error messages in CLI commands
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/iac/delete-locks/command.ts
  packages/cli/src/commands/k8s/get-token/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/util/aws/clients/getSTSClient.ts
  packages/cli/src/util/aws/getEksToken.ts
  packages/cli/src/util/aws/getIdentity.ts
Due: nixfmt

Refactor buildkit build to validate directories and get ports concurrently
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/util/network/getOpenPorts.ts
Due: none

Refactor execute() to support background processes and simplify API
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/util/subprocess/execute.ts
Due: none

Remove unused AUTOSSH_PIDFILE environment variable from buildkit build
  packages/cli/src/commands/buildkit/build/command.ts
Due: none

Refactor CLI subprocess execution and improve error handling
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/config/getAllRegions.ts
  packages/cli/src/util/config/getPanfactumConfig.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/cli/src/util/subprocess/killBackgroundProcess.ts
  packages/cli/src/util/subprocess/vaultProxy.ts
  packages/cli/src/util/vault/getVaultToken.ts
Due: none

Fix subprocess cleanup to kill entire process tree
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/util/aws/clients/getECRClient.ts
  packages/cli/src/util/docker/getEcrToken.ts
  packages/cli/src/util/subprocess/killBackgroundProcess.ts
Due: nixfmt

Refactor credentialCache to use standard file utilities
  packages/cli/src/util/docker/credentialCache.ts
Due: none

Refactor buildkit scale up into reusable utility function
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/util/buildkit/scaleUp.ts
Due: none

Refactor SSH tunnel functionality into reusable utility
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/util/aws/getEksToken.ts
  packages/cli/src/util/buildkit/scaleUp.ts
  packages/cli/src/util/tunnel/createSSHTunnel.ts
Due: none

fix: minor
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
Due: none

fix: minor profile-for-context
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/kube/profile-for-context/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/kube/getProfileForContext.ts
Due: none

fix: minor profile-for-context
  packages/cli/src/commands/kube/profile-for-context/command.ts
Due: none

refactor: extract AWS utility functions from vpcNetworkTest
  .claude/commands/pr-review-plan.md
  packages/cli/src/commands/aws/vpcNetworkTest/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/sendSSMCommand.ts
  packages/cli/src/util/aws/vpcNetworkTest.ts
  packages/cli/src/util/aws/waitForASGInstance.ts
  packages/cli/src/util/kube/getProfileForContext.ts
Due: lint-spellcheck

refactor: simplify retry logic in waitForASGInstance
  packages/cli/src/util/aws/waitForASGInstance.ts
Due: none

refactor: simplify retry logic in getSSMCommandOutput
  packages/cli/src/util/aws/getSSMCommandOutput.ts
Due: none

refactor: improve buildkit clear-cache command
  packages/cli/src/commands/buildkit/clear-cache/command.ts
Due: none

refactor: update buildkit commands and improve kubectl context handling
  packages/cli/CLAUDE.md
  packages/cli/src/commands/buildkit/clear-cache/command.ts
  packages/cli/src/commands/buildkit/resume/command.ts
  packages/cli/src/commands/buildkit/suspend/command.ts
  packages/cli/src/commands/k8s/get-token/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/getEKSToken.ts
  packages/cli/src/util/aws/waitForASGInstance.ts
  packages/cli/src/util/buildkit/scaleUp.ts
  packages/cli/src/util/kube/getKubectlContextArgs.ts
  packages/infrastructure/kube_buildkit/main.tf
  packages/infrastructure/wf_dockerfile_build/scripts/scale-buildkit.sh
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/workflow/wf_dockerfile_build/index.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, tf-generate-docs, typecheck-website

refactor: replace setTimeout with Bun.sleep
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/util/aws/getSSMCommandOutput.ts
  packages/cli/src/util/aws/sendSSMCommand.ts
  packages/cli/src/util/aws/waitForASGInstance.ts
  packages/cli/src/util/buildkit/scaleUp.ts
  packages/cli/src/util/network/waitForPort.ts
  packages/cli/src/util/subprocess/execute.ts
Due: none

Refactor kube resume command to use AWS SDK and improve context handling
  .claude/commands/pr-review-plan.md
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/kube/resume/command.ts
  packages/cli/src/commands/kube/suspend/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/clients/getEKSClient.ts
  packages/cli/src/util/aws/scaleASG.ts
  packages/cli/src/util/kube/getKubeContextsFromConfig.ts
Due: lint-spellcheck, nixfmt

refactor: convert AWS CLI commands to SDK in kube resume/suspend
  packages/cli/src/commands/kube/resume/command.ts
  packages/cli/src/commands/kube/suspend/command.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/eks/types.ts
Due: none

refactor: improve error handling in kube resume command
  packages/cli/src/commands/kube/resume/command.ts
Due: none

refactor: check deployment existence before operations in kube resume
  packages/cli/src/commands/kube/resume/command.ts
Due: none

fix: align kube resume command with shell script implementation
  packages/cli/src/commands/kube/resume/command.ts
Due: none

Refactor kube suspend command to use AWS SDK instead of CLI
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/kube/suspend/command.ts
  packages/cli/src/util/aws/clients/getEC2Client.ts
  packages/cli/src/util/aws/clients/getELBv2Client.ts
Due: nixfmt

Improve kube suspend command implementation
  packages/cli/src/commands/kube/resume/command.ts
  packages/cli/src/commands/kube/suspend/command.ts
  packages/cli/src/util/aws/schemas.ts
Due: none
