Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, typecheck-website, lint-website, typecheck-cli, lint-cli, generate-tf-reference

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/src/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

      - id: typecheck-cli
        name: Typecheck CLI
        entry: precommit-typecheck-cli
        language: system
        files: ^packages/cli/
        pass_filenames: false
        description: "Runs a typecheck on the CLI code"
        fail_fast: true

      - id: lint-cli
        name: Lint CLI
        entry: precommit-lint-cli
        language: system
        files: ^packages/cli/.*\.ts$
        pass_filenames: true
        description: "Runs linting for the CLI code"
        fail_fast: true

      - id: generate-tf-reference
        name: Generate Terraform Reference
        entry: precommit-generate-tf-reference
        language: system
        files: ^packages/infrastructure/[^/]+/
        pass_filenames: true
        description: "Generates terraform reference docs for changed modules"
        fail_fast: false

feat(aws_ecr_repos): support custom lifecycle policies
  packages/infrastructure/aws_ecr_repos/main.tf
  packages/infrastructure/aws_ecr_repos/vars.tf
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/modules/aws_ecr_repos/overview.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(aws_ecr_repos): support custom lifecycle policies (#379)
  packages/infrastructure/aws_ecr_repos/main.tf
  packages/infrastructure/aws_ecr_repos/vars.tf
  packages/website/src/content/docs/main/modules/aws_ecr_repos/overview.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix: infinite loop when working with git worktrees
  packages/nix/packages/scripts/pf-get-repo-variables.sh
Due: shellcheck, shellfmt

docs: add comprehensive TOC files across repository
  .github/TOC.md
  README.md
  TOC.md
  cspell.config.yaml
  packages/TOC.md
  packages/bastion/TOC.md
  packages/cli/README.md
  packages/cli/TOC.md
  packages/cli/src/TOC.md
  packages/infrastructure/TOC.md
  packages/installer/TOC.md
  packages/nix/TOC.md
  packages/scraper/TOC.md
  packages/vault/TOC.md
  packages/website/README.md
  packages/website/TOC.md
  packages/website/src/TOC.md
Due: lint-spellcheck, typecheck-website, typecheck-cli

feat(hooks): add automated linting on file edits
  .claude/hooks/lint.sh
  .claude/settings.json
Due: none

chore: remove unused @playwright/mcp dependency
  .mcp.json
  package.json
  pnpm-lock.yaml
Due: none

build: upgrade base image to Node 25 on Bookworm
  packages/website/Containerfile
Due: typecheck-website

feat(website): add slideshow presentation system with Reveal.js
  .claude/skills/create-presentation/SKILL.md
  .npmrc
  flake.lock
  packages/nix/localDevShell/default.nix
  pnpm-lock.yaml
Due: lint-spellcheck, nixfmt

chore: remove Claude Code installation and hook script
  package.json
  packages/nix/localDevShell/scripts/claude-post-tool-use-hook.sh
  pnpm-lock.yaml
Due: shellcheck, shellfmt

fix(website): restore syntax highlighting in docs and presentations
  packages/website/astro.config.mjs
  packages/website/src/pages/presentations/[slug].astro
  packages/website/src/styles/reveal-panfactum-theme.css
Due: typecheck-website, lint-website

chore(deps): upgrade Astro, SolidJS, and ecosystem dependencies
  packages/website/astro.config.mjs
  packages/website/package.json
  packages/website/src/components/layouts/docs/sidebar/DocsSidebar.tsx
  packages/website/src/content/docs/main/modules/aws_cdn/overview.mdx
  packages/website/src/pages/autopilot/_components/ScaleSection.tsx
  pnpm-lock.yaml
Due: lint-spellcheck, typecheck-website, lint-website

fix(infrastructure): migrate bitnami images to bitnamilegacy registry
  cspell.config.yaml
  packages/infrastructure/kube_argo_event_bus/vars.tf
  packages/infrastructure/kube_monitoring/main.tf
  packages/infrastructure/kube_monitoring/vars.tf
  packages/infrastructure/kube_nats/main.tf
  packages/infrastructure/kube_nats/vars.tf
  packages/infrastructure/kube_redis_sentinel/vars.tf
  packages/website/src/content/docs/main/modules/kube_argo_event_bus/reference.mdx
  packages/website/src/content/docs/main/modules/kube_monitoring/reference.mdx
  packages/website/src/content/docs/main/modules/kube_nats/reference.mdx
  packages/website/src/content/docs/main/modules/kube_redis_sentinel/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(deps): bump vault-secrets-operator chart to 1.3.0
  packages/infrastructure/vault_core_resources/vars.tf
  packages/website/src/content/docs/main/modules/vault_core_resources/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(production): add kube_gha module to production us-east-2
  environments/production/global/aws_account/module.status.yaml
  environments/production/us-east-2/airbyte_s3_destination/module.status.yaml
  environments/production/us-east-2/aws_ecr_pull_through_cache/module.status.yaml
  environments/production/us-east-2/aws_ecr_repos/module.status.yaml
  environments/production/us-east-2/aws_vpc/module.status.yaml
  environments/production/us-east-2/demo_redis_cache/module.status.yaml
  environments/production/us-east-2/kube_external_dns/module.status.yaml
  environments/production/us-east-2/kube_gha/.terraform.lock.hcl
  environments/production/us-east-2/kube_gha/terragrunt.hcl
  environments/production/us-east-2/kube_grist/module.status.yaml
  environments/production/us-east-2/pf_modules_site/module.status.yaml
Due: none

feat(production): add Grist deployment to production us-east-2
  environments/production/us-east-2/kube_grist/.terraform.lock.hcl
  environments/production/us-east-2/kube_grist/module.status.yaml
  environments/production/us-east-2/kube_grist/terragrunt.hcl
Due: none

feat(gha_runners): deploy GHA runners to production us-east-2
  environments/production/us-east-2/kube_gha_runners/.terraform.lock.hcl
  environments/production/us-east-2/kube_gha_runners/secrets.yaml
  environments/production/us-east-2/kube_gha_runners/terragrunt.hcl
Due: none

fix(aws_account): skip quota increases already at target value
  packages/infrastructure/aws_account/main.tf
Due: tf-fmt, generate-tf-reference

fix(pf_website): serve website from apex domain and fix hardcoded domain
  environments/production/us-east-2/pf_website/terragrunt.hcl
  infrastructure/pf_website/main.tf
Due: none

chore(kube_authentik): bump default Authentik helm chart to 2024.10.5
  packages/infrastructure/kube_authentik/vars.tf
  packages/website/src/content/docs/main/modules/kube_authentik/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(devshell): unset CI instead of setting it to "false"
  packages/cli/src/files/direnv/loadEnv.sh
  packages/nix/packages/scripts/enter-shell-local.sh
Due: shellcheck, shellfmt, typecheck-cli

feat(buildkit): upgrade BuildKit from v0.18.1 to v0.28.1
  flake.lock
  flake.nix
  packages/infrastructure/kube_buildkit/vars.tf
  packages/website/src/content/docs/main/modules/kube_buildkit/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

build(tooling): upgrade OpenTofu 1.8→1.9 via nixos-25.05 nixpkgs pin
  environments/panfactum.hcl
  flake.lock
  flake.nix
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt, typecheck-cli

refactor(changelog): remove metadata schema gen; add contributor docs
  contributing/release-notes.md
  packages/nix/localDevShell/scripts/ds-generate-changelog-schemas.ts
Due: lint-spellcheck

feat(infrastructure): add seccomp_profile_type to container specs
  packages/infrastructure/kube_buildkit/main.tf
  packages/infrastructure/kube_cron_job/vars.tf
  packages/infrastructure/kube_daemon_set/vars.tf
  packages/infrastructure/kube_deployment/vars.tf
  packages/infrastructure/kube_job/vars.tf
  packages/infrastructure/kube_pod/main.tf
  packages/infrastructure/kube_pod/vars.tf
  packages/infrastructure/kube_stateful_set/vars.tf
  packages/website/src/content/docs/main/modules/kube_cron_job/reference.mdx
  packages/website/src/content/docs/main/modules/kube_daemon_set/reference.mdx
  packages/website/src/content/docs/main/modules/kube_deployment/reference.mdx
  packages/website/src/content/docs/main/modules/kube_job/reference.mdx
  packages/website/src/content/docs/main/modules/kube_pod/reference.mdx
  packages/website/src/content/docs/main/modules/kube_stateful_set/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

build(flake): update Docker image root env path linking
  flake.nix
Due: none

fix(demo_cicd): pin nix image and fix rsync store sync behavior
  infrastructure/demo_cicd/nix_image_builder.tf
  infrastructure/demo_cicd/nix_image_builder/init-store.sh
Due: none

fix(demo_cicd): increase nix image builder memory and bump image tag
  infrastructure/demo_cicd/nix_image_builder.tf
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, generate-tf-reference

feat(bastion): upgrade to debian trixie and harden sshd config
  packages/bastion/Containerfile
  packages/bastion/sshd_config
Due: none

fix(cli): allow wf commands to run without a devshell
  infrastructure/demo_cicd/installer_uploader/upload.sh
  infrastructure/demo_cicd/module_uploader/upload.sh
  packages/cli/src/commands/wf/git-checkout/command.ts
  packages/cli/src/commands/wf/sops-set-profile/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/context/context.ts
  packages/cli/src/util/subprocess/BackgroundProcessManager.ts
  packages/cli/src/util/subprocess/killProcessTree.ts
Due: typecheck-cli, lint-cli
