Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, typecheck-website, lint-website, typecheck-cli, lint-cli, generate-tf-reference

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/src/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

      - id: typecheck-cli
        name: Typecheck CLI
        entry: precommit-typecheck-cli
        language: system
        files: ^packages/cli/
        pass_filenames: false
        description: "Runs a typecheck on the CLI code"
        fail_fast: true

      - id: lint-cli
        name: Lint CLI
        entry: precommit-lint-cli
        language: system
        files: ^packages/cli/.*\.ts$
        pass_filenames: true
        description: "Runs linting for the CLI code"
        fail_fast: true

      - id: generate-tf-reference
        name: Generate Terraform Reference
        entry: precommit-generate-tf-reference
        language: system
        files: ^packages/infrastructure/[^/]+/
        pass_filenames: true
        description: "Generates terraform reference docs for changed modules"
        fail_fast: false

fix(pf-tunnel): harden error handling and drop forced VAULT_ADDR override
  .claude/log/1777045650276.json
  packages/devshell/scripts/pf-tunnel.sh
Due: none

chore(precommit): commit static .pre-commit-config.yaml and un-ignore it
  .gitignore
  .pre-commit-config.yaml
Due: none

refactor(precommit): replace auto-generated config with static YAML
  .claude/log/1778082926390.json
  .pre-commit-config.yaml
  flake.nix
  packages/cli/src/commands/precommit/install/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/devshell/constants.ts
  packages/devshell/default.nix
  packages/devshell/precommit.nix
  packages/devshell/scripts/enter-shell-local.sh
  packages/local/default.nix
  packages/local/lint.nix
  packages/local/scripts/ds-generate-tf-reference-hook.sh
  packages/local/scripts/ds-lint-cli.sh
  packages/local/scripts/ds-lint-website.sh
  packages/local/scripts/ds-test-cli.sh
  packages/local/scripts/ds-typecheck-cli.sh
  packages/local/scripts/ds-typecheck-website.sh
  packages/website/src/content/docs/edge/guides/contributing/pull-requests/index.mdx
  packages/website/src/content/docs/main/guides/contributing/pull-requests/index.mdx
Due: lint-spellcheck, typecheck-website, typecheck-cli, lint-cli

style(docs): fix MarkdownAlert closing tag indentation
  packages/website/src/content/docs/main/modules/authentik_github_sso/overview.mdx
Due: lint-spellcheck, typecheck-website

fix(website): fix broken links and MDX alert tag formatting
  packages/website/src/content/docs/edge/guides/addons/github-actions/installing/index.mdx
  packages/website/src/content/docs/edge/guides/bootstrapping/dns/index.mdx
  packages/website/src/content/docs/edge/guides/bootstrapping/federated-auth/index.mdx
  packages/website/src/content/docs/edge/guides/bootstrapping/identity-provider/index.mdx
  packages/website/src/content/docs/edge/guides/cicd/getting-started/index.mdx
  packages/website/src/content/docs/edge/guides/deploying-workloads/basics/index.mdx
  packages/website/src/content/docs/edge/modules/authentik_github_sso/overview.mdx
  packages/website/src/content/docs/edge/modules/kube_aws_creds/overview.mdx
  packages/website/src/content/docs/edge/modules/kube_pg_cluster/overview.mdx
  packages/website/src/content/docs/edge/modules/mongodb_atlas_identity_provider/overview.mdx
  packages/website/src/content/docs/main/guides/bootstrapping/federated-auth/index.mdx
  packages/website/src/content/docs/main/guides/bootstrapping/identity-provider/index.mdx
  packages/website/src/content/docs/main/guides/deploying-workloads/basics/index.mdx
  packages/website/src/content/docs/main/modules/kube_aws_creds/overview.mdx
  packages/website/src/content/docs/main/modules/kube_pg_cluster/overview.mdx
  packages/website/src/content/docs/main/modules/mongodb_atlas_identity_provider/overview.mdx
  packages/website/src/content/docs/stable-25-04/guides/bootstrapping/federated-auth/index.mdx
  packages/website/src/content/docs/stable-25-04/guides/bootstrapping/identity-provider/index.mdx
  packages/website/src/content/docs/stable-25-04/guides/deploying-workloads/basics/index.mdx
  packages/website/src/content/docs/stable-25-04/reference/infrastructure-modules/direct/authentik/authentik_github_sso/index.mdx
  packages/website/src/content/docs/stable-25-04/reference/infrastructure-modules/direct/authentik/mongodb_atlas_identity_provider/index.mdx
  packages/website/src/content/docs/stable-25-04/reference/infrastructure-modules/submodule/kubernetes/kube_aws_creds/index.mdx
Due: lint-spellcheck, typecheck-website
