Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: tf-generate-docs
        name: Generate Terraform Docs
        entry: generate-tf-docs
        language: system
        files: ^packages/infrastructure/
        pass_filenames: false
        description: "Generates the IaC docs for the website"
        fail_fast: true

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

fix: exclude extra_superuser_principal_arns when SSO arn
  packages/cli/src/commands/cluster/add/setupEKS.ts
Due: none

passing in kubecontext
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

Fix sso cluster add (#357)
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

test commit
  packages/website/src/pages/about/_components/Mission.astro
Due: typecheck-website, lint-website

wip
  packages/cli/src/commands/cluster/add/setupAuthentik.ts
  packages/infrastructure/authentik_core_resources/main.tf
Due: tf-fmt, tf-generate-docs

fix: split vault recovery keys and root token
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix:cli: config file precedence and secret config files
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/config/get/getPanfactumConfig.ts
  packages/cli/src/util/config/getConfigValuesFromFile.ts
  packages/cli/src/util/config/getSecretConfigValuesFromFile.ts
  packages/cli/src/util/config/upsertConfigValues.ts
  packages/cli/src/util/fs/removeFile.ts
  packages/cli/src/util/fs/writeFile.ts
  packages/cli/src/util/sops/sopsDecrypt.ts
  packages/cli/src/util/sops/sopsUpsert.ts
  packages/cli/src/util/sops/sopsWrite.ts
Due: none

fix:cli: adjust message for apex vs non-apex manual NS setup
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
Due: none

fix:tf_bootstrap_resources: unique vault suffix
  packages/infrastructure/tf_bootstrap_resources/main.tf
  packages/website/src/content/docs/changelog/edge.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/aws/tf_bootstrap_resources/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

feat: authentik setup
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/index.ts
  packages/cli/src/templates/authentk_core_resources.hcl
  packages/cli/src/util/yaml/updateModuleYAMLFile.ts
  packages/infrastructure/authentik_core_resources/main.tf
  packages/infrastructure/kube_authentik/email_templates/recovery.html
  packages/infrastructure/kube_authentik/main.tf
  packages/infrastructure/kube_authentik/outputs.tf
  packages/infrastructure/kube_authentik/vars.tf
  packages/infrastructure/kube_certificates/FOOTER.md
  packages/website/src/content/docs/changelog/edge.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_authentik/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

docs: add kube_certificates migration guide
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, typecheck-website

fix: formatting
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, typecheck-website

Authentik SSO in CLI installer (#359)
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/index.ts
  packages/cli/src/templates/authentik_aws_sso.hcl
  packages/cli/src/templates/authentik_aws_sso_with_scim.hcl
  packages/cli/src/templates/authentk_core_resources.hcl
  packages/cli/src/templates/aws_iam_identity_center_permissions.hcl
  packages/cli/src/templates/aws_ses_domain.hcl
  packages/cli/src/templates/kube_authentik.hcl
  packages/cli/src/util/fs/findFolder.ts
  packages/cli/src/util/terragrunt/constants.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
  packages/cli/src/util/yaml/updateModuleYAMLFile.ts
  packages/infrastructure/authentik_core_resources/main.tf
  packages/infrastructure/kube_authentik/email_templates/recovery.html
  packages/infrastructure/kube_authentik/main.tf
  packages/infrastructure/kube_authentik/outputs.tf
  packages/infrastructure/kube_authentik/vars.tf
  packages/infrastructure/kube_certificates/FOOTER.md
  packages/website/src/content/docs/changelog/edge.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_authentik/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

feat: enhances module status architecture
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/devshell/update-module-status/command.ts
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
  packages/cli/src/commands/env/add/isEnvironmentSuccessfullyConfigured.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/index.ts
  packages/cli/src/util/aws/addAWSProfileFromStaticCreds.ts
  packages/cli/src/util/config/upsertConfigValues.ts
  packages/cli/src/util/context/upsertRepoVariables.ts
  packages/cli/src/util/devshell/constants.ts
  packages/cli/src/util/devshell/tasks/syncAWSIdentityCenterTask.ts
  packages/cli/src/util/devshell/tasks/syncKubeClustersTask.ts
  packages/cli/src/util/devshell/tasks/syncStandardFiles.ts
  packages/cli/src/util/devshell/updateKubeConfig.ts
  packages/cli/src/util/devshell/upsertGitIgnore.ts
  packages/cli/src/util/error/parseErrorHandler.ts
  packages/cli/src/util/fs/writeFile.ts
  packages/cli/src/util/terragrunt/constants.ts
  packages/cli/src/util/terragrunt/getLocalModuleStatus.ts
  packages/cli/src/util/terragrunt/getModuleDirectory.ts
  packages/cli/src/util/terragrunt/schemas.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/yaml/getLocalModuleStatus.ts
  packages/cli/src/util/yaml/updateModuleYAMLFile.ts
  packages/cli/src/util/yaml/writeYAMLFile.ts
Due: hcl-fmt

fix: module status update
  packages/cli/src/commands/iac/update-module-status/command.ts
Due: none

fix: module status update
  packages/cli/src/commands/iac/update-module-status/command.ts
  packages/cli/src/util/terragrunt/updateModuleStatus.ts
Due: none

fix: bootstrap env resume
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
Due: none

fix: set account alias in aws_organization module
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/infrastructure/aws_organization/main.tf
  packages/infrastructure/aws_organization/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/aws/aws_organization/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

feat:cli: env add resumability
  packages/cli/src/commands/domain/add/getEnvironmentForZone.ts
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getEnvironment.ts
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/commands/env/add/updateIAMIdentityCenter.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/config/getEnvironments.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/config/isEnvironmentDeployed.ts
  packages/cli/src/util/domains/getDomains.ts
  packages/cli/src/util/domains/tasks/getRegisteredDomainsTask.ts
  packages/cli/src/util/domains/tasks/getZonesTask.ts
  packages/cli/src/util/domains/tasks/types.ts
  packages/infrastructure/aws_organization/vars.tf
  packages/nix/localDevShell/scripts/lint.sh
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/aws/aws_organization/index.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, tf-generate-docs, typecheck-website

chore: adds instructions for upgrading to use the new pf cli
  packages/cli/src/commands/welcome/command.ts
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, typecheck-website

fix:cli:cluster add: success message format
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/env/add/getNewAccountAlias.ts
Due: none

fix:cli:env add: default username
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getAdminAccessCredentials.ts
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
Due: none

fix: set overwrite to true for sopsUpsert
  packages/cli/src/util/sops/sopsUpsert.ts
Due: none

docs: restore individual kube modules
  packages/infrastructure/kube_cert_issuers/FOOTER.md
  packages/infrastructure/kube_cert_issuers/README.md
  packages/infrastructure/kube_cert_issuers/main.tf
  packages/infrastructure/kube_cert_issuers/outputs.tf
  packages/infrastructure/kube_cert_issuers/vars.tf
  packages/infrastructure/kube_cert_manager/FOOTER.md
  packages/infrastructure/kube_cert_manager/README.md
  packages/infrastructure/kube_cert_manager/config.yaml
  packages/infrastructure/kube_cert_manager/dashboard.json
  packages/infrastructure/kube_cert_manager/main.tf
  packages/infrastructure/kube_cert_manager/outputs.tf
  packages/infrastructure/kube_cert_manager/vars.tf
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_manager/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/kube_cert_issuers/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

fix: reading from recovery.yaml
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix: kube_certificates migration guide
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/infrastructure/kube_certificates/vars.tf
  packages/infrastructure/kube_opensearch/main.tf
  packages/infrastructure/kube_opensearch/vars.tf
  packages/website/src/content/docs/changelog/edge.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_opensearch/index.mdx
Due: lint-spellcheck, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

fix: kube_domain default input
  packages/cli/src/files/terragrunt/panfactum.hcl
Due: hcl-fmt

feat: intelligently skip init in deployModuleTask when possible
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupPolicyController.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
Due: none

fix: using vault status to check if unseal step should be skipped
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix:cli: initial domain register poll title
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/infrastructure/kube_vault/main.tf
Due: tf-fmt, tf-generate-docs

wip
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: none

wip
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: none

federated auth
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/files/terragrunt/providers/authentik.tftpl
  packages/cli/src/util/config/schemas.ts
  packages/cli/src/util/yaml/upsertPFYAMLFile.ts
Due: hcl-fmt

fix: skip module if already deployed
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: none

moved vault_token to region.secrets.yaml
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/common.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/index.ts
  packages/cli/src/util/config/schemas.ts
Due: none

removed test command
  packages/cli/src/index.ts
Due: none

fix: typos
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: none

chore: revert to remove conflict
  packages/cli/src/commands/cluster/add/setupVault.ts
Due: none

fix: interpolation
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: none
