Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

tf-generate-docs:
  name: Generate Terraform Docs
  entry: generate-tf-docs
  language: system
  pass_filenames: false
  description: Generates the IaC docs for the website
  fail_fast: true

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

feat: log lines out of run-all apply
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/cli/src/util/terragrunt/terragruntApplyAll.ts
Due: none

wip: logging refactor
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/createDescendentZones.ts
  packages/cli/src/commands/domain/add/createEnvironmentSubzones.ts
  packages/cli/src/commands/domain/add/getEnvironmentForZone.ts
  packages/cli/src/commands/domain/add/getEnvironmentsForSubzones.ts
  packages/cli/src/commands/domain/add/isDomainAvailableFromAWS.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/env/install/bootstrapEnvironment.ts
  packages/cli/src/commands/env/install/command.ts
  packages/cli/src/commands/env/install/common.ts
  packages/cli/src/commands/env/install/getAdminAccessCredentials.ts
  packages/cli/src/commands/env/install/getEnvironmentName.ts
  packages/cli/src/commands/env/install/getNewAccountAdminAccess.ts
  packages/cli/src/commands/env/install/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/install/getRootAccountAdminAccess.ts
  packages/cli/src/commands/env/install/hasExistingAWSInfra.ts
  packages/cli/src/commands/env/install/hasExistingAWSOrg.ts
  packages/cli/src/commands/env/install/shouldCreateAWSOrg.ts
  packages/cli/src/commands/env/install/shouldPanfactumManageAWSOrg.ts
  packages/cli/src/commands/env/install/updateIAMIdentityCenter.ts
  packages/cli/src/context/context.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/index.ts
  packages/cli/src/util/aws/schemas.ts
  packages/cli/src/util/colors/applyColors.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/config/schemas.ts
  packages/cli/src/util/devshell/tasks/syncAWSIdentityCenterTask.ts
  packages/cli/src/util/devshell/tasks/syncKubeClustersTask.ts
  packages/cli/src/util/devshell/tasks/syncSSHTask.ts
  packages/cli/src/util/error/parseErrorHandler.ts
  packages/cli/src/util/fs/writeFile.ts
  packages/cli/src/util/yaml/readYAMLFile.ts
Due: none

fix: cli builds
  packages/cli/src/commands/aws/vpc-network-test/vpcNetworkTest.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/cluster/reset/clusterReset.ts
  packages/cli/src/commands/devshell/update/buildBuildkitConfig.ts
  packages/cli/src/commands/devshell/update/command.ts
  packages/cli/src/commands/devshell/update/updateBuildkitUserConfig.ts
  packages/cli/src/commands/domain/add/createDescendentZones.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/env/install/getNewAccountAdminAccess.ts
  packages/cli/src/commands/env/install/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/install/provisionAWSAccount.ts
  packages/cli/src/index.ts
  packages/cli/src/templates/aws_eks.hcl
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/domains/tasks/getRegisteredDomainsTask.ts
  packages/cli/src/util/domains/tasks/getZonesTask.ts
  packages/cli/src/util/domains/tasks/testDNSResolutionTask.ts
  packages/cli/src/util/extract-route53-zone-keys.test.ts
  packages/cli/src/util/extract-route53-zone-keys.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
Due: hcl-fmt

fix: deploy external dns at correct time
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

fix: env add: misc cli improvements
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getAccountEmail.ts
  packages/cli/src/commands/env/add/getNewAccountAlias.ts
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/util/listr/runTasks.ts
Due: none

feat: update for new module requirements
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
Due: none

fix: AdministratorAccess credential validation loop
  packages/cli/src/commands/env/add/getAdminAccessCredentials.ts
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
Due: none

fix: cert issuer email
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

fix: update stage 1 installer to use pf commands
  packages/installer/install.sh
Due: shellcheck, shellfmt

fix: import existing org in env add command
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
Due: none

fix: nameserver listing
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/context/logger.ts
Due: none

fix: kube exec in vault setup
  packages/cli/src/commands/cluster/install/setupVault.ts
Due: none

fix: cluster install inputs
  packages/cli/src/commands/cluster/install/setupEKS.ts
Due: none

feat: add domain registration status
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

fix: cluster install task runner
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setSLA.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
  packages/cli/src/commands/devshell/sync/command.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/files/terragrunt/.gitignore
  packages/cli/src/index.ts
  packages/cli/src/util/listr/types.ts
Due: none

fix: cluster install step nesting
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
Due: none

fix: cluster install task runner
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/install/setupCertIssuers.ts
  packages/cli/src/commands/cluster/install/setupCertManagement.ts
  packages/cli/src/commands/cluster/install/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/install/setupEKS.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/install/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/install/setupLinkerd.ts
  packages/cli/src/commands/cluster/install/setupPolicyController.ts
  packages/cli/src/commands/cluster/install/setupVPCandECR.ts
  packages/cli/src/commands/cluster/install/setupVault.ts
Due: none

fix: move inbound networking before autoscaling in cluster auto install
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setSLA.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/infrastructure/aws_eks/main.tf
Due: tf-fmt, tf-generate-docs

fix: initial cluster permissions
  packages/cli/src/commands/cluster/install/setupEKS.ts
Due: none

feat: adds finish message to 'pf env add'
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
Due: none

fix: better install instructions + missing region
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/installer/install.sh
Due: shellcheck, shellfmt

fix: nginx post deploy input update
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

fix: properly skip subzone setup if applicable
  packages/cli/src/commands/domain/add/createEnvironmentSubzones.ts
Due: none

fix: question explainer indentation
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
  packages/cli/src/context/logger.ts
Due: none

fix: no longer use ping
  packages/cli/src/commands/aws/vpcNetworkTest/vpcNetworkTest.ts
  packages/cli/src/util/network/checkConnection.ts
Due: none

fix: set sla formatting for cluster install
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setSLA.ts
Due: none

fix: cli finish log message
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/util/devshell/tasks/syncKubeClustersTask.ts
  packages/cli/src/util/devshell/tasks/syncSSHTask.ts
  packages/cli/src/util/fs/getLastPathSegments.ts
  packages/cli/src/util/fs/getRelativeFromRoot.ts
Due: none

chore: rename 'cluster install' to 'cluster add'
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/common.ts
  packages/cli/src/commands/cluster/add/setSLA.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/add/setupCertIssuers.ts
  packages/cli/src/commands/cluster/add/setupCertManagement.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupPolicyController.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/index.ts
Due: none

fix: improve domain isRegistered check
  packages/cli/src/util/domains/isRegistered.ts
  packages/nix/packages/default.nix
Due: nixfmt

fix: phone number format in question
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
Due: none

fix: eks node sizes and aws sdk credentials bug
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/env/add/getAccountEmail.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/infrastructure/aws_eks/main.tf
Due: tf-fmt, tf-generate-docs

fix: nameservers output in cli
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/welcome/command.ts
Due: none

fix: better ux for vault ingress
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

fix: refactor nix version check in .envrc to match install.sh
  packages/cli/src/files/direnv/envrc
  packages/installer/install.sh
Due: shellcheck, shellfmt

fix: pass vault token when necessary
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupAutoscaling.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
  packages/infrastructure/kube_aws_lb_controller/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_aws_lb_controller/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

chore: misc fix comments
  packages/cli/src/commands/cluster/install/command.ts
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

feat: adds welcome screen to devshell launch
  packages/cli/src/commands/welcome/command.ts
  packages/nix/packages/scripts/enter-shell-local.sh
Due: shellcheck, shellfmt

fix: remove concurrency
  packages/cli/src/commands/cluster/install/setupInboundNetworking.ts
Due: none

fix: dedent order in applyColors
  packages/cli/src/context/logger.ts
Due: none

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  tf-generate-docs: any of: ^packages/infrastructure/
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/.*\.(ts|tsx|astro)$
