Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

tf-generate-docs:
  name: Generate Terraform Docs
  entry: generate-tf-docs
  language: system
  pass_filenames: false
  description: Generates the IaC docs for the website
  fail_fast: true

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

fix: undefined import
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/context/getRepoVariables.ts
  packages/cli/src/context/logger.ts
  packages/cli/src/index.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
Due: none

fix: nix version check in envrc
  packages/cli/src/files/direnv/envrc
Due: none

test: module main uploader
  README.md
Due: lint-spellcheck

feat: adds welcome screen
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/context/logger.ts
Due: none

fix:domains: at least one env check + 'env install' -> 'env add'
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/getEnvironmentForZone.ts
Due: none

fix: disable vpa by default in ingress modules
  packages/infrastructure/kube_aws_lb_controller/vars.tf
  packages/infrastructure/kube_external_dns/vars.tf
  packages/infrastructure/kube_ingress_nginx/vars.tf
  packages/infrastructure/vault_core_resources/vars.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_aws_lb_controller/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_external_dns/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_ingress_nginx/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

feat: automatically request increase in vcpu quota in aws_account module
  packages/infrastructure/aws_account/main.tf
Due: tf-fmt, tf-generate-docs

fix: allow multiple nginx instances on one host for sla 1
  packages/infrastructure/kube_ingress_nginx/main.tf
Due: tf-fmt, tf-generate-docs

fix:cli: domain interpolation issues
  packages/cli/src/commands/domain/add/command.ts
  packages/cli/src/commands/domain/add/manualZoneSetup.ts
Due: none

Merge certificates modules (#353)
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/templates/kube_certificates.hcl
  packages/cli/src/templates/kube_external_dns_terragrunt.hcl
  packages/cli/src/templates/kube_ingress_nginx_terragrunt.hcl
  packages/cli/src/templates/kube_keda_terragrunt.hcl
  packages/cli/src/templates/kube_linkerd_terragrunt.hcl
  packages/cli/src/templates/kube_metrics_server_terragrunt.hcl
  packages/cli/src/templates/kube_vpa_terragrunt.hcl
  packages/cli/src/util/terragrunt/constants.ts
  packages/infrastructure/kube_cert_issuers/FOOTER.md
  packages/infrastructure/kube_cert_issuers/README.md
  packages/infrastructure/kube_cert_issuers/vars.tf
  packages/infrastructure/kube_cert_manager/FOOTER.md
  packages/infrastructure/kube_cert_manager/README.md
  packages/infrastructure/kube_cert_manager/config.yaml
  packages/infrastructure/kube_cert_manager/main.tf
  packages/infrastructure/kube_cert_manager/outputs.tf
  packages/infrastructure/kube_certificates/README.md
  packages/infrastructure/kube_certificates/config.yaml
  packages/infrastructure/kube_certificates/dashboard.json
  packages/infrastructure/kube_certificates/main.tf
  packages/infrastructure/kube_certificates/outputs.tf
  packages/infrastructure/kube_certificates/vars.tf
  packages/website/src/content/docs/main/modules.json
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_issuers/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_cert_manager/index.mdx
  packages/website/src/content/docs/main/reference/infrastructure-modules/direct/kubernetes/kube_certificates/index.mdx
Due: lint-spellcheck, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website

feat: better resumability (#351)
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupCSIDrivers.ts
  packages/cli/src/commands/cluster/add/setupCertManagement.ts
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/cli/src/commands/cluster/add/setupInternalClusterNetworking.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/cli/src/commands/cluster/add/setupPolicyController.ts
  packages/cli/src/commands/cluster/add/setupVPCandECR.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/cli/src/util/subprocess/vaultProxy.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/yaml/getLocalModuleStatus.ts
Due: none

fix:cli: aws client fixes + welcome screen + org create success section
  packages/cli/src/commands/domain/add/getDomainPrice.ts
  packages/cli/src/commands/domain/add/isDomainAvailableFromAWS.ts
  packages/cli/src/commands/domain/add/registerDomain.ts
  packages/cli/src/commands/env/add/bootstrapEnvironment.ts
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getEnvironmentName.ts
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/util/aws/clients/getAccountClient.ts
  packages/cli/src/util/aws/clients/getIAMClient.ts.ts
  packages/cli/src/util/aws/clients/getOrganizationsClient.ts
  packages/cli/src/util/aws/clients/getRoute53DomainsClient.ts
  packages/cli/src/util/aws/clients/getS3Client.ts
  packages/cli/src/util/aws/clients/getSTSClient.ts
Due: none

fix: dnssec kms key policy document
  packages/infrastructure/aws_dnssec/main.tf
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

fix: reset cert manager on nginx ingress deploy (#350)
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/setupCertIssuers.ts
Due: nixfmt

fix: unneded nesting & validation schema
  packages/cli/src/commands/cluster/add/setupAutoscaling.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
Due: none

fix: correct the circular dependency
  packages/infrastructure/kube_certificates/main.tf
Due: tf-fmt, tf-generate-docs

chore: removed ingress_domains input from doc (#335)
  packages/website/src/content/docs/main/guides/bootstrapping/inbound-networking/index.mdx
Due: lint-spellcheck, typecheck-website

feat: add Panfactum terragrunt hooks
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/devshell/constants.ts
Due: hcl-fmt

fix: reduce the required git version
  packages/installer/install.sh
Due: shellcheck, shellfmt

fix: address line 2 min length
  packages/cli/src/commands/domain/add/registerDomain.ts
Due: none

fix: unload AWS_ACCESS_KEY_ID and AWS_SECRET_ACCES_KEY env vars on devshell boot
  packages/nix/packages/scripts/enter-shell-local.sh
Due: shellcheck, shellfmt

fix: address line 2 min length
  packages/cli/src/commands/env/add/getPrimaryContactInfo.ts
Due: none

fix: welcome screen on install
  packages/cli/src/commands/welcome/command.ts
Due: none

fix: permissions after service account is created
  packages/infrastructure/kube_certificates/main.tf
Due: tf-fmt, tf-generate-docs

fix: add automatic direnv sourcing
  packages/installer/install.sh
Due: shellcheck, shellfmt

chore: lower bun dns cache ttl
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
Due: none

fix:installer: direnv shell reload warning
  packages/installer/install.sh
Due: shellcheck, shellfmt

chore: adds backup:TagResource to backup-terraform role
  packages/infrastructure/tf_bootstrap_resources/main.tf
  packages/website/src/content/docs/changelog/edge.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

fix: TalkToEngineer
  packages/website/src/pages/plus/_components/TalkToEngineer.tsx
  packages/website/src/pages/plus/pricing/index.astro
Due: typecheck-website, lint-website

feat: authentik client
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/setupAuthentik.ts
Due: nixfmt

starting dev on demo cli
  packages/cli/package.json
  packages/cli/src/commands/demo/deploy/command.ts
  packages/cli/src/commands/demo/deploy/setupArgo.ts
  packages/cli/src/commands/demo/deploy/setupBuildKit.ts
  packages/cli/src/commands/demo/deploy/setupCICD.ts
  packages/cli/src/commands/demo/deploy/setupDemoDeployment.ts
  packages/cli/src/index.ts
  packages/cli/src/templates/kube_argo.hcl
  packages/cli/src/templates/kube_buildkit.hcl
  packages/website/src/pages/_components/HeroSection.astro
Due: hcl-fmt, typecheck-website, lint-website

fix: embedded schedule call for panfactumplus
  packages/website/src/pages/plus/index.astro
  packages/website/src/styles/base.css
Due: typecheck-website, lint-website

wip
  packages/cli/src/commands/cluster/add/setupFederatedAuth.ts
  packages/cli/src/templates/authentik_aws_sso.hcl
  packages/cli/src/templates/authentik_aws_sso_with_scim.hcl
  packages/cli/src/util/terragrunt/constants.ts
Due: hcl-fmt

fix: correct button actions
  packages/website/src/layouts/Header.astro
  packages/website/src/pages/_components/HeroSection.astro
  packages/website/src/pages/plus/_components/HeroSection.astro
Due: typecheck-website, lint-website

fix: raise z-index on button
  packages/website/src/layouts/Header.astro
Due: typecheck-website, lint-website

wip
  packages/cli/src/commands/cluster/add/setupAuthentik.ts
  packages/cli/src/commands/cluster/add/setupFederatedAuth.ts
  packages/cli/src/templates/aws_iam_identity_center_permissions.hcl
  packages/cli/src/util/terragrunt/terragruntOutput.ts
Due: hcl-fmt

fix: commit untracked code from earlier
  packages/website/src/pages/plus/_components/CallButton.tsx
Due: typecheck-website, lint-website

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  tf-generate-docs: any of: ^packages/infrastructure/
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/.*\.(ts|tsx|astro)$
