Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, typecheck-website, lint-website, typecheck-cli, lint-cli, generate-tf-reference

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/src/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

      - id: typecheck-cli
        name: Typecheck CLI
        entry: precommit-typecheck-cli
        language: system
        files: ^packages/cli/
        pass_filenames: false
        description: "Runs a typecheck on the CLI code"
        fail_fast: true

      - id: lint-cli
        name: Lint CLI
        entry: precommit-lint-cli
        language: system
        files: ^packages/cli/.*\.ts$
        pass_filenames: true
        description: "Runs linting for the CLI code"
        fail_fast: true

      - id: generate-tf-reference
        name: Generate Terraform Reference
        entry: precommit-generate-tf-reference
        language: system
        files: ^packages/infrastructure/[^/]+/
        pass_filenames: true
        description: "Generates terraform reference docs for changed modules"
        fail_fast: false

fix(cicd): double nix image builder timeout and bump image tag
  infrastructure/demo_cicd/nix_image_builder.tf
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, generate-tf-reference

feat(nix-image-builder): skip redundant builds if image already exists in ECR
  environments/production/global/aws_account/module.status.yaml
  environments/production/us-east-2/airbyte_s3_destination/module.status.yaml
  environments/production/us-east-2/aws_ecr_pull_through_cache/module.status.yaml
  environments/production/us-east-2/aws_ecr_repos/module.status.yaml
  environments/production/us-east-2/aws_vpc/module.status.yaml
  environments/production/us-east-2/demo_redis_cache/module.status.yaml
  environments/production/us-east-2/kube_external_dns/module.status.yaml
  environments/production/us-east-2/kube_opensearch/module.status.yaml
  environments/production/us-east-2/pf_modules_site/module.status.yaml
  infrastructure/demo_cicd/nix_image_builder.tf
  infrastructure/demo_cicd/nix_image_builder/check-image.sh
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, generate-tf-reference

chore(cicd): set memory limits on image builders and fix devshell flag
  environments/production/global/aws_account/module.status.yaml
  environments/production/us-east-2/airbyte_s3_destination/module.status.yaml
  environments/production/us-east-2/aws_ecr_pull_through_cache/module.status.yaml
  environments/production/us-east-2/aws_ecr_repos/module.status.yaml
  environments/production/us-east-2/aws_vpc/module.status.yaml
  environments/production/us-east-2/demo_redis_cache/module.status.yaml
  environments/production/us-east-2/kube_external_dns/module.status.yaml
  environments/production/us-east-2/kube_opensearch/module.status.yaml
  environments/production/us-east-2/kube_vault/module.status.yaml
  environments/production/us-east-2/pf_modules_site/module.status.yaml
  infrastructure/demo_cicd/demo_java_image_builder.tf
  infrastructure/demo_cicd/demo_python_image_builder.tf
  infrastructure/demo_cicd/demo_tracker_image_builder.tf
  infrastructure/demo_cicd/demo_user_service_image_builder.tf
  packages/cli/src/commands/util/get-commit-hash/command.ts
Due: typecheck-cli, lint-cli

fix: correct error handling and CI workflow gaps
  packages/cli/src/index.ts
  packages/infrastructure/kube_constants/main.tf
  packages/infrastructure/wf_dockerfile_build/scripts/scale-buildkit.sh
  packages/infrastructure/wf_tf_deploy/scripts/deploy.sh
Due: shellcheck, shellfmt, tf-fmt, typecheck-cli, lint-cli, generate-tf-reference

perf(sops-set-profile): skip YAML parsing for non-SOPS files early
  packages/cli/src/commands/wf/sops-set-profile/command.ts
Due: typecheck-cli, lint-cli

fix(buildkit): allow scale-up command to run without devshell
  packages/cli/src/commands/buildkit/resume/command.ts
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, typecheck-cli, lint-cli, generate-tf-reference

chore(kube_constants): bump pinned image tag to latest
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, generate-tf-reference

feat(changelog): add changelog skill with git-aware entry management
  .claude/agents/changelog-commit-reviewer.md
  .claude/hooks/lint.sh
  .claude/skills/changelog/SKILL.md
  .claude/skills/changelog/reference/changelog-format.md
  .claude/skills/changelog/reference/cli-tools.md
  .claude/skills/changelog/reference/upgrade-instruction-format.md
  .claude/skills/changelog/scripts/list-changed-files.ts
  .claude/skills/changelog/scripts/list-changes.ts
  .claude/skills/changelog/scripts/list-commits-since-release.ts
  .claude/skills/changelog/scripts/list-summary-inputs.ts
  .claude/skills/changelog/scripts/list-unvalidated-commits.ts
  .claude/skills/changelog/scripts/list-upgrade-items.ts
  .claude/skills/changelog/scripts/mark-commits-validated.ts
  .claude/skills/changelog/scripts/show-diff.ts
  .claude/skills/changelog/scripts/upgrade-instructions-required.ts
  .claude/skills/changelog/scripts/validate-changelog.ts
  .claude/skills/changelog/workflows/GenerateSummary.md
  .claude/skills/changelog/workflows/GenerateUpgradeInstructions.md
  .claude/skills/changelog/workflows/UpdateEntry.md
  .claude/skills/changelog/workflows/ValidateChangelog.md
  .pre-commit-config.yaml
  CLAUDE.md
  bun.lock
  cspell.config.yaml
  package.json
  packages/nix/localDevShell/scripts/ds-generate-changelog-schemas.ts
  packages/nix/localDevShell/scripts/ds-validate-changelog-review.ts
  packages/nix/packages/default.nix
  packages/website/src/content/changelog/log.schema.json
  packages/website/src/content/changelog/review.schema.json
  pnpm-lock.yaml
Due: lint-spellcheck, nixfmt, typecheck-website

chore(skills): pin changelog skill to sonnet model
  .claude/skills/changelog/SKILL.md
Due: lint-spellcheck

feat(changelog): add user-facing filter and commit-scoped diffing
  .claude/agents/changelog-commit-reviewer.md
  .claude/skills/changelog/.changelog-include
  .claude/skills/changelog/scripts/list-changed-files.ts
  .claude/skills/changelog/workflows/UpdateEntry.md
  packages/website/src/content.config.ts
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
  packages/website/src/pages/docs/changelog/_components/ChangelogDetail.tsx
Due: lint-spellcheck, typecheck-website, lint-website

refactor(changelog): auto-discover and filter files in show-diff
  .claude/skills/changelog/reference/cli-tools.md
  .claude/skills/changelog/scripts/show-diff.ts
  .claude/skills/changelog/workflows/UpdateEntry.md
Due: lint-spellcheck

fix(terragrunt): skip secret redaction when GIT_PASSWORD is unset
  packages/nix/packages/default.nix
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: nixfmt, typecheck-website

refactor(changelog): pre-filter internal commits before review step
  .claude/agents/changelog-commit-reviewer.md
  .claude/skills/changelog/reference/cli-tools.md
  .claude/skills/changelog/scripts/list-unvalidated-commits.ts
  packages/infrastructure/kube_constants/main.tf
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

refactor(changelog): reorder workflow steps and embed schemas inline
  .claude/agents/changelog-commit-reviewer.md
  .claude/skills/changelog/reference/changelog-format.md
  .claude/skills/changelog/workflows/UpdateEntry.md
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, typecheck-website

feat(agents): guard changelog agent from direct git show/diff calls
  .claude/agents/changelog-commit-reviewer.md
  .claude/hooks/guard-git-show.sh
  .claude/skills/changelog/scripts/show-diff.ts
  .claude/skills/changelog/workflows/UpdateEntry.md
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, typecheck-website

chore(.claude): enforce bun over npx/node in changelog agent
  .claude/agents/changelog-commit-reviewer.md
  .claude/hooks/guard-npx.sh
  .claude/skills/changelog/scripts/list-changed-files.ts
  .claude/skills/changelog/scripts/list-summary-inputs.ts
  .claude/skills/changelog/scripts/list-upgrade-items.ts
  .claude/skills/changelog/scripts/mark-commits-validated.ts
  .claude/skills/changelog/scripts/upgrade-instructions-required.ts
  environments/production/us-east-2/demo_cicd/module.status.yaml
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, typecheck-website

feat(changelog): surface commit message in show-diff output
  .claude/skills/changelog/scripts/show-diff.ts
  .claude/skills/changelog/workflows/UpdateEntry.md
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, typecheck-website

docs(changelog): add entry for aws_registered_domains zones fix
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: typecheck-website

fix(wf): migrate terragrunt flags to new CLI format
  packages/cli/src/commands/wf/sops-set-profile/command.ts
  packages/infrastructure/wf_tf_deploy/scripts/deploy.sh
Due: shellcheck, shellfmt, typecheck-cli, lint-cli, generate-tf-reference

fix(cli): mark several commands as devshell-independent
  environments/production/us-east-2/demo_cicd/module.status.yaml
  packages/cli/src/commands/iac/update-module-status/command.ts
  packages/cli/src/commands/kube/disable-disruptions/command.ts
  packages/cli/src/commands/kube/enable-disruptions/command.ts
  packages/cli/src/commands/kube/get-token/command.ts
  packages/cli/src/commands/kube/velero-snapshot-gc/command.ts
  packages/cli/src/commands/util/get-module-hash/command.ts
  packages/infrastructure/kube_constants/main.tf
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: tf-fmt, typecheck-website, typecheck-cli, lint-cli, generate-tf-reference

fix(claude): propagate NO_RTK=1 to prevent hook re-entrancy
  .claude/commands/plan-task.md
  .claude/commands/work-task.md
  .claude/hooks/guard-generated-files.sh
  .claude/hooks/guard-git-show.sh
  .claude/hooks/guard-npx.sh
  .claude/hooks/regenerate-schemas.sh
  .claude/skills/changelog/scripts/list-changed-files.ts
  .claude/skills/changelog/scripts/list-commits-since-release.ts
  .claude/skills/changelog/scripts/list-unvalidated-commits.ts
  .claude/skills/changelog/scripts/show-diff.ts
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, typecheck-website

feat(changelog): add CondenseEntries workflow and condenser agent
  .claude/agents/changelog-condenser.md
  .claude/skills/changelog/SKILL.md
  .claude/skills/changelog/workflows/CondenseEntries.md
  .claude/skills/changelog/workflows/ValidateChangelog.md
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: lint-spellcheck, typecheck-website

fix(changelog): fix script cwd, improve diff context, sync cmd rename
  .claude/skills/changelog/scripts/list-changed-files.ts
  .claude/skills/changelog/scripts/list-commits-since-release.ts
  .claude/skills/changelog/scripts/list-unvalidated-commits.ts
  .claude/skills/changelog/scripts/show-diff.ts
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: typecheck-website

fix: changelog schema validation
  .claude/skills/changelog/scripts/validate-changelog.ts
  packages/nix/localDevShell/scripts/ds-generate-changelog-schemas.ts
  packages/website/src/content/changelog/log.schema.json
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: typecheck-website

chore: changelog updates
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
Due: typecheck-website

chore: changelog updates
  .claude/skills/changelog/scripts/upgrade-instructions-required.ts
  .claude/skills/changelog/workflows/ValidateChangelog.md
  packages/nix/localDevShell/scripts/ds-generate-changelog-schemas.ts
  packages/website/src/content.config.ts
  packages/website/src/content/changelog/log.schema.json
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
  packages/website/src/pages/docs/changelog/_components/ChangelogDetail.tsx
Due: lint-spellcheck, typecheck-website, lint-website

chore: changelog condense
  packages/website/src/content/changelog/main/log.yaml
Due: typecheck-website

feat(changelog-skill): add EnhanceEntry workflow for single-entry polish
  .claude/skills/changelog/SKILL.md
  .claude/skills/changelog/workflows/EnhanceEntry.md
  .claude/skills/changelog/workflows/UpdateEntry.md
Due: lint-spellcheck

fix(changelog): resolve bare commit SHAs to GitHub URLs in references
  packages/website/src/pages/docs/changelog/[...page].json.ts
  packages/website/src/pages/docs/changelog/[...page].txt.ts
  packages/website/src/pages/docs/changelog/_components/ChangelogDetail.tsx
  packages/website/src/pages/docs/changelog/_components/changelogUtils.ts
Due: typecheck-website, lint-website

feat(changelog): add `update` change type for third-party version bumps
  .claude/skills/changelog/reference/changelog-format.md
  .claude/skills/changelog/scripts/list-changes.ts
  .claude/skills/changelog/scripts/validate-changelog.ts
  .claude/skills/changelog/workflows/CondenseEntries.md
  .claude/skills/changelog/workflows/UpdateEntry.md
  packages/nix/localDevShell/scripts/ds-generate-changelog-schemas.ts
  packages/website/src/content.config.ts
  packages/website/src/content/changelog/log.schema.json
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/pages/docs/changelog/[...page].txt.ts
  packages/website/src/pages/docs/changelog/_components/ChangelogDetail.tsx
  packages/website/src/pages/docs/changelog/_components/ChangelogList.tsx
Due: lint-spellcheck, typecheck-website, lint-website

feat(changelog-skill): add groups, relevance check, and entry quality fixes
  .claude/skills/changelog/scripts/propose-groups.ts
  .claude/skills/changelog/scripts/validate-changelog.ts
  .claude/skills/changelog/workflows/CondenseEntries.md
  .claude/skills/changelog/workflows/EnhanceEntry.md
  .claude/skills/changelog/workflows/UpdateEntry.md
  .claude/skills/changelog/workflows/ValidateChangelog.md
  packages/nix/localDevShell/scripts/ds-generate-changelog-schemas.ts
  packages/website/src/content.config.ts
  packages/website/src/content/changelog/log.schema.json
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/upgrade.mdx
  packages/website/src/pages/docs/changelog/[...page].astro
  packages/website/src/pages/docs/changelog/_components/ChangelogDetail.tsx
Due: lint-spellcheck, typecheck-website, lint-website

fix(release): harden release tooling and fix doc link issues
  .claude/skills/changelog/scripts/validate-changelog.ts
  packages/nix/localDevShell/scripts/ds-validate-changelog.ts
  packages/nix/localDevShell/scripts/make-new-edge-release.sh
  packages/website/src/components/ui/CheckCircleIcon.tsx
  packages/website/src/components/ui/TodoIcon.tsx
  packages/website/src/content/docs/edge/guides/index.tsx
  packages/website/src/content/docs/main/concepts/networking/cluster-networking/index.mdx
  packages/website/src/content/docs/main/guides/check.tsx
  packages/website/src/content/docs/main/guides/cicd/getting-started/index.mdx
  packages/website/src/content/docs/main/guides/contributing/releasing/index.mdx
  packages/website/src/content/docs/main/guides/index.tsx
  packages/website/src/content/docs/main/guides/todo.tsx
  packages/website/src/content/docs/stable-25-04/guides/check.tsx
  packages/website/src/content/docs/stable-25-04/guides/index.tsx
  packages/website/src/content/docs/stable-25-04/guides/todo.tsx
Due: lint-spellcheck, shellcheck, shellfmt, typecheck-website, lint-website

fix(cli): reregister env add command that was accidentally removed
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/index.ts
Due: typecheck-cli, lint-cli

fix(terragrunt): update flags to new Terragrunt CLI syntax
  packages/cli/src/util/terragrunt/terragruntApply.ts
  packages/cli/src/util/terragrunt/terragruntApplyAll.ts
  packages/cli/src/util/terragrunt/terragruntImport.ts
  packages/cli/src/util/terragrunt/terragruntInit.ts
  packages/cli/src/util/terragrunt/terragruntInitAll.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
Due: typecheck-cli, lint-cli

fix(vault): fix interactive OIDC login and silent mode behavior
  packages/cli/src/util/config/getPanfactumConfig.ts
  packages/cli/src/util/vault/getVaultToken.ts
Due: typecheck-cli, lint-cli

chore(cli): pin all @aws-sdk/client-* to a single exact version
  .claude/hooks/lint.sh
  .pre-commit-config.yaml
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/util/aws/getEKSToken.ts
  packages/nix/localDevShell/scripts/precommit-check-aws-sdk-versions.sh
Due: shellcheck, shellfmt, nixfmt, typecheck-cli, lint-cli

fix(cli): require devshell for kube get-token command
  .envrc
  .gitignore
  environments/development/global/aws_dns_zones/module.status.yaml
  environments/development/us-east-2/aws_eks/module.status.yaml
  packages/cli/src/commands/kube/get-token/command.ts
Due: typecheck-cli, lint-cli
