Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, typecheck-website, lint-website, typecheck-cli, lint-cli, generate-tf-reference

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/src/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

      - id: typecheck-cli
        name: Typecheck CLI
        entry: precommit-typecheck-cli
        language: system
        files: ^packages/cli/
        pass_filenames: false
        description: "Runs a typecheck on the CLI code"
        fail_fast: true

      - id: lint-cli
        name: Lint CLI
        entry: precommit-lint-cli
        language: system
        files: ^packages/cli/.*\.ts$
        pass_filenames: true
        description: "Runs linting for the CLI code"
        fail_fast: true

      - id: generate-tf-reference
        name: Generate Terraform Reference
        entry: precommit-generate-tf-reference
        language: system
        files: ^packages/infrastructure/[^/]+/
        pass_filenames: true
        description: "Generates terraform reference docs for changed modules"
        fail_fast: false

feat(kube_temporal): add Temporal workflow orchestration module
  .claude/log/1776107231305.json
  cspell.config.yaml
  environments/production/us-east-2/kube_temporal/.terraform.lock.hcl
  environments/production/us-east-2/kube_temporal/module.status.yaml
  environments/production/us-east-2/kube_temporal/module.yaml
  environments/production/us-east-2/kube_temporal/terragrunt.hcl
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_temporal/FOOTER.md
  packages/infrastructure/kube_temporal/config.yaml
  packages/infrastructure/kube_temporal/database.tf
  packages/infrastructure/kube_temporal/main.tf
  packages/infrastructure/kube_temporal/outputs.tf
  packages/infrastructure/kube_temporal/scripts/namespace-init.sh
  packages/infrastructure/kube_temporal/scripts/render-config.sh
  packages/infrastructure/kube_temporal/scripts/schema-init.sh
  packages/infrastructure/kube_temporal/server.tf
  packages/infrastructure/kube_temporal/ui.tf
  packages/infrastructure/kube_temporal/vars.tf
  packages/website/src/content/docs/main/modules/kube_deployment/reference.mdx
  packages/website/src/content/docs/main/modules/kube_pg_cluster/reference.mdx
  packages/website/src/content/docs/main/modules/kube_temporal/reference.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, typecheck-website, generate-tf-reference

refactor(bun): replace workspace with per-package lockfiles
  .claude/log/1776128257162.json
  .dockerignore
  cspell.config.yaml
  package.json
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/bunfig.toml
  packages/cli/default.nix
  packages/cli/package.json
  packages/local/default.nix
  packages/scraper/Containerfile
  packages/scraper/bun.lock
  packages/scraper/bunfig.toml
  packages/website/Containerfile
  packages/website/bun.lock
  packages/website/bunfig.toml
  packages/website/package.json
  pnpm-lock.yaml
Due: nixfmt, typecheck-website, typecheck-cli

fix(kube_policies): route index.docker.io through ECR pull-through cache
  .claude/log/1776129031230.json
  packages/infrastructure/kube_policies/pull_through_image_cache.tf
  packages/website/src/content/docs/main/modules/kube_policies/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(website): resolve build errors from dep mismatch and stale config
  .claude/log/1776130318881.json
  packages/scraper/Containerfile.dockerignore
  packages/website/astro.config.mjs
  packages/website/bun.lock
  packages/website/package.json
  packages/website/src/content/docs/main/modules/wf_dockerfile_build/overview.mdx
Due: lint-spellcheck, typecheck-website

fix(cli): chmod bun cache after copy from read-only nix store
  .claude/log/1776131455962.json
  packages/cli/default.nix
Due: nixfmt, typecheck-cli

fix(demo_cicd): forward pull_through_cache_enabled to kube_argo_event_bus
  .claude/log/1776168352308.json
  infrastructure/demo_cicd/event_bus.tf
Due: none

refactor(nix-image-builder): remove init-store step and nix-store PVCs
  .claude/log/1776168382287.json
  infrastructure/demo_cicd/nix_image_builder.tf
  infrastructure/demo_cicd/nix_image_builder/init-store.sh
Due: none

fix(authentik_vault_sso): allow dynamic ports in Vault SSO OIDC callback URI
  .claude/log/1776168933960.json
  packages/infrastructure/authentik_vault_sso/main.tf
  packages/website/src/content/docs/main/modules/authentik_vault_sso/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(build): fix bun EPERM and parallel hash in nix builds
  .claude/log/1776169447777.json
  flake.nix
  packages/cli/default.nix
Due: nixfmt, typecheck-cli

fix(reference-typescript): dissolve root pnpm workspace to fix Docker builds
  .claude/log/1776170671388.json
  .claude/log/1776170917275.json
  .dockerignore
  package.json
  packages/local/default.nix
  packages/reference-typescript/.gitignore
  packages/reference-typescript/.npmrc
  packages/reference-typescript/Containerfile
  packages/reference-typescript/pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

chore(kube_constants): bump pf image tag to 7b4fe367
  .claude/log/1776171192041.json
  packages/infrastructure/kube_constants/main.tf
  packages/website/src/content/docs/main/modules/kube_constants/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(cluster/add): prevent vault_addr stuck on local after DNS timeout
  .claude/log/1776172694952.json
  packages/cli/src/commands/cluster/add/command.ts
Due: typecheck-cli, lint-cli

feat(devshell): add tf-fmt and hcl-fmt pre-commit hooks to mkDevShell
  .claude/log/1776130723645.json
  .claude/log/1776172244024.json
  .claude/log/1776173352791.json
  flake.nix
  packages/cli/src/commands/precommit/install/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/devshell/constants.ts
  packages/devshell/default.nix
  packages/devshell/precommit.nix
  packages/devshell/scripts/enter-shell-local.sh
Due: typecheck-cli, lint-cli

fix(cluster): detect partial setupClusterExtensions deployments
  .claude/log/1776175412637.json
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/util/config/isClusterDeployed.test.ts
  packages/cli/src/util/config/isClusterDeployed.ts
Due: typecheck-cli, lint-cli

perf(website): replace @playform/compress with cached local integration
  .claude/log/1776178391496.json
  packages/website/.gitignore
  packages/website/Containerfile
  packages/website/astro.config.mjs
  packages/website/bun.lock
  packages/website/package.json
  packages/website/src/components/layouts/common/CommonHead.astro
  packages/website/src/lib/plugins/compress.ts
Due: typecheck-website, lint-website

fix: ensure cilium operator HA and fix website TS types
  .claude/log/1776180201750.json
  .claude/log/1776180639263.json
  packages/infrastructure/kube_cilium/main.tf
  packages/website/bun.lock
  packages/website/package.json
  packages/website/src/content/docs/main/modules/kube_cilium/reference.mdx
  packages/website/src/extends.d.ts
Due: lint-spellcheck, tf-fmt, typecheck-website, lint-website, generate-tf-reference

fix(kube_aws_ebs_csi): use SSA for EBS CSI controller PDB to avoid 409s
  .claude/log/1776181084399.json
  packages/infrastructure/kube_aws_ebs_csi/main.tf
  packages/website/bun.lock
  packages/website/src/content/docs/main/modules/kube_aws_ebs_csi/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(cli): remove PostHog analytics telemetry from CLI
  .claude/log/1776182497242.json
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/context/context.ts
  packages/cli/src/util/posthog/tracking.ts
Due: nixfmt, typecheck-cli, lint-cli

fix(oidc): prevent regex redirect URIs from reaching Vault OIDC
  .claude/log/1776183827670.json
  packages/infrastructure/authentik_vault_sso/outputs.tf
  packages/infrastructure/vault_auth_oidc/main.tf
  packages/website/src/content/docs/main/modules/authentik_vault_sso/reference.mdx
  packages/website/src/content/docs/main/modules/vault_auth_oidc/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(buildkit/suspend): prevent git lookup crash when running in-cluster
  .claude/log/1776188101700.json
  packages/cli/src/commands/buildkit/suspend/command.ts
Due: typecheck-cli, lint-cli

refactor(cli): encode devshell requirement in command type hierarchy
  packages/cli/src/commands/buildkit/clear-cache/command.ts
  packages/cli/src/commands/buildkit/get-address/command.ts
  packages/cli/src/commands/buildkit/record-build/command.ts
  packages/cli/src/commands/buildkit/resume/command.ts
  packages/cli/src/commands/buildkit/suspend/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/commands/iac/update-module-status/command.ts
  packages/cli/src/commands/kube/disable-disruptions/command.ts
  packages/cli/src/commands/kube/enable-disruptions/command.ts
  packages/cli/src/commands/kube/get-token/command.ts
  packages/cli/src/commands/kube/velero-snapshot-gc/command.ts
  packages/cli/src/commands/util/get-commit-hash/command.ts
  packages/cli/src/commands/util/get-module-hash/command.ts
  packages/cli/src/commands/wf/git-checkout/command.ts
  packages/cli/src/commands/wf/sops-set-profile/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/buildkit/getAddress.ts
  packages/cli/src/util/buildkit/getLastBuildTime.ts
  packages/cli/src/util/buildkit/recordBuild.ts
  packages/cli/src/util/buildkit/scaleUp.ts
  packages/cli/src/util/command/panfactumCommand.test.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/fs/writeFile.ts
  packages/cli/src/util/git/getCommitHash.ts
  packages/cli/src/util/kube/getPDBAnnotations.ts
  packages/cli/src/util/kube/getPDBs.ts
  packages/cli/src/util/terragrunt/updateModuleStatus.ts
  packages/cli/src/util/yaml/readYAMLFile.ts
  packages/cli/src/util/yaml/writeYAMLFile.ts
Due: typecheck-cli, lint-cli

chore(kube_constants): bump kube image tag to e61269a
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, generate-tf-reference

fix(kube_argo): increase argo exec container memory limits
  .claude/log/1776196063606.json
  packages/infrastructure/kube_argo/main.tf
  packages/website/src/content/docs/main/modules/kube_argo/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(compress): preserve SolidJS hydration marker comments in HTML
  .claude/log/1776197089077.json
  packages/website/src/lib/plugins/compress.ts
Due: typecheck-website, lint-website

feat(authentik): extend auth session to 30 days, keep recovery at 8h
  .claude/log/1776271323697.json
  packages/infrastructure/authentik_core_resources/main.tf
  packages/infrastructure/authentik_core_resources/vars.tf
  packages/website/src/content/docs/main/modules/authentik_core_resources/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(changelog): surface session log motivations in changelog workflow
  .claude/log/1776291003245.json
  .claude/skills/changelog/scripts/list-log-entries.ts
  .claude/skills/changelog/workflows/UpdateEntry.md
Due: lint-spellcheck

feat(kube_pg_cluster): add per-schema roles, schema init job, PgBouncer fix
  .claude/log/1776293068766.json
  environments/production/us-east-2/test_kube_pg_cluster/.terraform.lock.hcl
  environments/production/us-east-2/test_kube_pg_cluster/module.status.yaml
  environments/production/us-east-2/test_kube_pg_cluster/module.yaml
  environments/production/us-east-2/test_kube_pg_cluster/terragrunt.hcl
  packages/infrastructure/kube_pg_cluster/main.tf
  packages/infrastructure/kube_pg_cluster/outputs.tf
  packages/infrastructure/kube_pg_cluster/vars.tf
  packages/infrastructure/test_kube_pg_cluster/main.tf
  packages/infrastructure/test_kube_pg_cluster/vars.tf
  packages/website/src/content/docs/main/modules/kube_pg_cluster/reference.mdx
  packages/website/src/content/docs/main/modules/test_kube_pg_cluster/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

docs(changelog): generate edge release changelog for main branch
  .claude/log/1776351656037.json
  bun.lock
  package.json
  packages/website/src/content/changelog/log.schema.json
  packages/website/src/content/changelog/main/log.yaml
  packages/website/src/content/changelog/main/review.yaml
  packages/website/src/content/changelog/main/upgrade.mdx
Due: lint-spellcheck, typecheck-website

feat(kube_temporal): route Temporal DB connections through PgBouncer
  .claude/log/1776433230799.json
  packages/infrastructure/kube_temporal/database.tf
  packages/infrastructure/kube_temporal/main.tf
  packages/infrastructure/kube_temporal/scripts/render-config.sh
  packages/infrastructure/kube_temporal/scripts/schema-init.sh
  packages/infrastructure/kube_temporal/server.tf
  packages/infrastructure/kube_temporal/vars.tf
  packages/website/src/content/docs/main/modules/kube_temporal/reference.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, typecheck-website, generate-tf-reference

feat(wf_tf_deploy): add two-tier env var injection to tf deploy workflow
  .claude/log/1776433719966.json
  .claude/log/1776433928549.json
  packages/infrastructure/wf_tf_deploy/main.tf
  packages/infrastructure/wf_tf_deploy/scripts/deploy.sh
  packages/infrastructure/wf_tf_deploy/vars.tf
  packages/website/src/content/docs/main/modules/wf_tf_deploy/reference.mdx
Due: lint-spellcheck, shellcheck, shellfmt, tf-fmt, typecheck-website, generate-tf-reference

feat(iac-provider): migrate terraform provider to monorepo with sync pipeline
  .claude/log/1776440815239.json
  cspell.config.yaml
  environments/production/us-east-2/demo_cicd/terragrunt.hcl
  infrastructure/demo_cicd/iac_provider_sync.tf
  infrastructure/demo_cicd/iac_provider_sync/sync.sh
  infrastructure/demo_cicd/sensor.tf
  infrastructure/demo_cicd/vars.tf
  packages/iac-provider/.copywrite.hcl
  packages/iac-provider/.gitignore
  packages/iac-provider/.goreleaser.yml
  packages/iac-provider/LICENSE
  packages/iac-provider/README.md
  packages/iac-provider/docs/data-sources/aws_tags.md
  packages/iac-provider/docs/data-sources/kube_labels.md
  packages/iac-provider/docs/data-sources/metadata.md
  packages/iac-provider/docs/functions/cidr_contains.md
  packages/iac-provider/docs/functions/cidr_count_hosts.md
  packages/iac-provider/docs/functions/cidrs_overlap.md
  packages/iac-provider/docs/functions/sanitize_aws_tags.md
  packages/iac-provider/docs/functions/sanitize_kube_labels.md
  packages/iac-provider/docs/index.md
  packages/iac-provider/flake.lock
  packages/iac-provider/flake.nix
  packages/iac-provider/go.mod
  packages/iac-provider/go.sum
  packages/iac-provider/main.go
  packages/iac-provider/provider/aws_tags_data_source.go
  packages/iac-provider/provider/cidr_contains_function.go
  packages/iac-provider/provider/cidrs_count_hosts.go
  packages/iac-provider/provider/cidrs_overlap.go
  packages/iac-provider/provider/cidrs_overlap_test.go
  packages/iac-provider/provider/kube_labels_data_source.go
  packages/iac-provider/provider/metadata_data_source.go
  packages/iac-provider/provider/provider.go
  packages/iac-provider/provider/sanitize_aws_tags_function.go
  packages/iac-provider/provider/sanitize_kube_labels_function.go
  packages/iac-provider/terraform-registry-manifest.json
  packages/iac-provider/tools/go.mod
  packages/iac-provider/tools/go.sum
  packages/iac-provider/tools/tools.go
Due: lint-spellcheck

fix(demo_cicd): remove broken provider_repo_github_token variable
  .claude/log/1776441597063.json
  environments/production/us-east-2/demo_cicd/terragrunt.hcl
  infrastructure/demo_cicd/iac_provider_sync.tf
  infrastructure/demo_cicd/vars.tf
Due: none

fix(kube_buildkit): prevent Karpenter from evicting nodes during active builds
  .claude/log/1776452609229.json
  packages/infrastructure/kube_buildkit/main.tf
Due: tf-fmt, generate-tf-reference

fix(wf_spec): promote default params to value in arguments output
  .claude/log/1776471682184.json
  packages/infrastructure/wf_spec/main.tf
  packages/infrastructure/wf_spec/outputs.tf
  packages/website/src/content/docs/main/modules/wf_spec/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(git-checkout): add --sparse and --no-lfs options to reduce clone cost
  .claude/log/1776537919162.json
  infrastructure/demo_cicd/iac_provider_sync/sync.sh
  packages/cli/src/commands/wf/git-checkout/command.ts
Due: typecheck-cli, lint-cli

chore(deps): bump vault provider from 5.8.0 to 5.9.0
  environments/production/us-east-2/kube_ingress_nginx/.terraform.lock.hcl
  environments/production/us-east-2/kube_open_cost/.terraform.lock.hcl
Due: none

feat(presentations): add effective-sandboxing talk and footnote system
  .claude/log/1776871555307.json
  .claude/log/1776886381519.json
  cspell.config.yaml
  packages/website/src/content.config.ts
  packages/website/src/content/presentations/effective-sandboxing/01-title.mdx
  packages/website/src/content/presentations/effective-sandboxing/02-author.mdx
  packages/website/src/content/presentations/effective-sandboxing/03-what-is-dangerous.mdx
  packages/website/src/content/presentations/effective-sandboxing/04-why-live-dangerously.mdx
  packages/website/src/content/presentations/effective-sandboxing/05-key-problems.mdx
  packages/website/src/content/presentations/effective-sandboxing/06-are-you-at-risk.mdx
  packages/website/src/content/presentations/effective-sandboxing/07-what-we-actually-want.mdx
  packages/website/src/content/presentations/effective-sandboxing/08-solution-sandboxing.mdx
  packages/website/src/content/presentations/effective-sandboxing/09-option-agent-provided.mdx
  packages/website/src/content/presentations/effective-sandboxing/10-option-containers-vms.mdx
  packages/website/src/content/presentations/effective-sandboxing/11-option-custom.mdx
  packages/website/src/content/presentations/effective-sandboxing/12-option-nono.mdx
  packages/website/src/content/presentations/effective-sandboxing/12a-approach-comparison.mdx
  packages/website/src/content/presentations/effective-sandboxing/13-nono-proxy-injection.mdx
  packages/website/src/content/presentations/effective-sandboxing/13a-nono-profiles.mdx
  packages/website/src/content/presentations/effective-sandboxing/13b-nono-other-features.mdx
  packages/website/src/content/presentations/effective-sandboxing/14-deep-dives.mdx
  packages/website/src/content/presentations/effective-sandboxing/images/dangerous.png
  packages/website/src/content/presentations/effective-sandboxing/images/headshot.jpg
  packages/website/src/content/presentations/effective-sandboxing/images/learn.png
  packages/website/src/content/presentations/effective-sandboxing/images/thumbnail.svg
  packages/website/src/pages/presentations/[slug].astro
  packages/website/src/pages/presentations/_components/ChecklistIcons.tsx
  packages/website/src/pages/presentations/index.astro
  packages/website/src/styles/reveal-panfactum-theme.css
Due: lint-spellcheck, typecheck-website, lint-website
