Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, tf-generate-docs, typecheck-website, lint-website

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: lint-spellcheck
        name: Spellcheck
        entry: cspell lint --no-progress --gitignore
        language: system
        files: \.(md|mdx)$
        pass_filenames: true
        description: "Runs spellcheck on markdown files"
        fail_fast: true

      - id: shellcheck
        name: Shellcheck
        entry: shellcheck
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shellcheck on shell scripts"
        fail_fast: true

      - id: shellfmt
        name: Shell Format
        entry: shfmt --diff -i 2
        language: system
        files: ^packages/(nix|installer|infrastructure)/.*\.sh$
        pass_filenames: true
        description: "Runs shfmt on shell scripts"
        fail_fast: true

      - id: nixfmt
        name: Nix Format
        entry: nixfmt -c
        language: system
        files: ^packages/(nix|cli)/.*\.nix$
        pass_filenames: true
        description: "Runs nixfmt on Nix files"
        fail_fast: true

      - id: hcl-fmt
        name: HCL Format
        entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
        language: system
        files: ^packages/cli/.*\.hcl$
        pass_filenames: true
        description: "Runs hclfmt on HCL files"
        fail_fast: true

      - id: tf-fmt
        name: Tofu Format
        entry: tofu fmt -diff -check
        language: system
        files: ^packages/infrastructure/.*\.tf$
        pass_filenames: true
        description: "Runs tofu fmt on the infrastructure code"
        fail_fast: false

      - id: tf-generate-docs
        name: Generate Terraform Docs
        entry: generate-tf-docs
        language: system
        files: ^packages/infrastructure/
        pass_filenames: false
        description: "Generates the IaC docs for the website"
        fail_fast: true

      - id: typecheck-website
        name: Typecheck Website
        entry: precommit-typecheck-website
        language: system
        files: ^packages/website/
        pass_filenames: false
        description: "Runs a typecheck on the website code"
        fail_fast: true

      - id: lint-website
        name: Lint Website
        entry: precommit-lint-website
        language: system
        files: ^packages/website/.*\.(ts|tsx|astro)$
        pass_filenames: true
        description: "Runs linting for the website code"
        fail_fast: true

feat: provide instructions for creating a user if importing existing AWS org
  packages/cli/src/commands/env/add/command.ts
  packages/cli/src/commands/env/add/getNewAccountAdminAccess.ts
  packages/cli/src/commands/env/add/getNewIAMUserCredentials.ts
  packages/cli/src/commands/env/add/hasAccessToManagementAccount.ts
  packages/cli/src/util/browser/failsafeOpen.ts
Due: none

feat: adds instructions for enabling billing when organization setup is complete
  packages/cli/src/commands/env/add/command.ts
Due: none

fix: default answer styles and adds 'pf env add' default env name
  packages/cli/src/commands/env/add/getEnvironment.ts
  packages/cli/src/commands/env/add/hasExistingAWSInfra.ts
  packages/cli/src/util/context/logger.ts
Due: none

refactor: improve cluster deployment detection to use actual deployment status
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/config/isClusterDeployed.ts
Due: none

refactor: standardize SSO subdomain configuration and update domain references
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/util/domains/consts.ts
Due: none

feat: configure bastion domain dynamically from kube_domain
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/templates/kube_bastion_terragrunt.hcl
  packages/cli/src/util/domains/consts.ts
Due: hcl-fmt

fix: remove obsolete pf-check-ssh call from pf-db-tunnel
  packages/nix/packages/scripts/pf-db-tunnel.sh
Due: shellcheck, shellfmt

fix: remove obsolete pf-check-ssh source from pf-tunnel
  packages/nix/packages/scripts/pf-tunnel.sh
Due: shellcheck, shellfmt

fix: define missing SSH configuration variables in pf-tunnel
  packages/nix/packages/scripts/pf-tunnel.sh
Due: shellcheck, shellfmt

feat: improve OpenSearch memory configuration
  packages/infrastructure/kube_opensearch/main.tf
  packages/infrastructure/kube_opensearch/vars.tf
  packages/website/src/content/docs/main/modules.json
Due: tf-fmt, tf-generate-docs, typecheck-website

fix: standardize AWS region parameter handling and improve SSO flexibility
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/common.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/commands/cluster/reset/clusterReset.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/util/sso/getAuthenticPath.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
Due: none

feat: implement cluster enable command with ECR pull-through cache support
  packages/cli/src/commands/cluster/enable/command.ts
  packages/cli/src/commands/cluster/enable/setupECR.ts
  packages/cli/src/index.ts
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/context/context.ts
  packages/cli/src/util/context/getRepoVariables.ts
  packages/cli/src/util/context/getRoot.ts
Due: none

added eks time warning message
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
Due: none

added apply all after ecr pull through cache enable
  packages/cli/src/commands/cluster/enable/setupECR.ts
  packages/cli/src/util/terragrunt/terragruntApplyAll.ts
  packages/cli/src/util/terragrunt/terragruntInitAndApplyAll.ts
Due: none

feat: add automatic browser opening to Authentik token page
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: none

feat: improve Authentik setup with default root email and better instructions
  packages/cli/src/commands/sso/add/setupAuthentik.ts
Due: none

fix: improve cluster name handling in EKS setup
  packages/cli/src/commands/cluster/add/setupEKS.ts
Due: none

feat: add anonymous usage tracing
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/context/constants.ts
  packages/cli/src/util/context/context.ts
  packages/cli/src/util/context/getRepoVariables.ts
  packages/cli/src/util/context/schemas.ts
  packages/cli/src/util/context/upsertRepoVariables.ts
  packages/cli/src/util/devshell/constants.ts
  packages/cli/src/util/posthog/tracking.ts
Due: nixfmt

fix: move usage tracking from context to command execution
  packages/cli/src/index.ts
  packages/cli/src/util/context/context.ts
Due: none

using new key
  packages/cli/src/util/posthog/tracking.ts
Due: none

feat: add posthog
  packages/website/src/layouts/CommonHead.astro
  packages/website/src/pages/index.astro
Due: typecheck-website, lint-website

feat: add posthog (#368)
  packages/website/src/layouts/CommonHead.astro
  packages/website/src/pages/index.astro
Due: typecheck-website, lint-website

updated posthog key
  packages/website/src/layouts/CommonHead.astro
Due: typecheck-website, lint-website

fix: restrict opensearch dashboard password to alphanumeric characters only
  packages/infrastructure/kube_opensearch/main.tf
  packages/website/src/content/docs/main/reference/infrastructure-modules/submodule/kubernetes/kube_opensearch/index.mdx
Due: lint-spellcheck, tf-fmt, tf-generate-docs, typecheck-website

docs: update project documentation and development guidelines
  .gitignore
  CLAUDE.md
  README.md
  packages/infrastructure/CLAUDE.md
  packages/website/src/content/docs/main/modules.json
Due: lint-spellcheck, tf-generate-docs, typecheck-website

docs: add git workflow and variable naming guidelines
  CLAUDE.md
Due: lint-spellcheck

docs: update project documentation and development guidelines
  CLAUDE.md
Due: lint-spellcheck

docs: add typescript guidelines and expand shell rules
  CLAUDE.md
Due: lint-spellcheck

added todo from code review session
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
  packages/cli/src/commands/welcome/command.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/index.ts
  packages/cli/src/templates/authentik_vault_sso.hcl
  packages/cli/src/templates/kube_bastion_terragrunt.hcl
  packages/cli/src/templates/vault_auth_oidc.hcl
  packages/cli/src/util/command/panfactumCommand.ts
  packages/cli/src/util/config/getRegions.ts
  packages/cli/src/util/config/isClusterDeployed.ts
  packages/cli/src/util/context/getRepoVariables.ts
  packages/cli/src/util/sso/getAuthenticPath.ts
  packages/cli/src/util/sso/tasks/setupVaultSSO.ts
  packages/cli/src/util/terragrunt/tasks/deployModuleTask.ts
  packages/cli/src/util/terragrunt/terragruntApplyAll.ts
  packages/cli/src/util/terragrunt/terragruntOutput.ts
  packages/cli/src/util/yaml/upsertPFYAMLFile.ts
Due: hcl-fmt

docs: add CLAUDE.md files for AI assistant guidance across repository
  CLAUDE.md
  cspell.config.yaml
  packages/cli/CLAUDE.md
  packages/infrastructure/CLAUDE.md
Due: lint-spellcheck, tf-generate-docs

feat(cli): migrate shell scripts to CLI commands
  flake.nix
  packages/cli/MIGRATION_PLAN.md
  packages/cli/src/commands/aws/ecr/wait-on-image/command.ts
  packages/cli/src/commands/devshell/enter/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/commands/k8s/disruptions/enable/command.ts
  packages/cli/src/commands/k8s/velero/snapshot-gc/command.ts
  packages/cli/src/commands/sops/set-profile/command.ts
  packages/cli/src/commands/terraform/init/command.ts
  packages/cli/src/commands/util/get-commit-hash/command.ts
  packages/cli/src/commands/util/get-module-hash/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/git/getCommitHash.ts
  packages/cli/src/util/network/getOpenPort.ts
  packages/cli/src/util/terragrunt/getModuleHash.ts
  packages/nix/packages/scripts/pf-get-commit-hash.sh
  packages/nix/packages/scripts/pf-get-local-module-hash.sh
Due: lint-spellcheck, shellcheck, shellfmt

feat: migrate Phase 3 infrastructure management scripts to CLI
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/terraform/delete-locks/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/index.ts
Due: lint-spellcheck, nixfmt

feat: migrate Phase 2 authentication scripts to CLI
  cspell.config.yaml
  packages/bastion/CLAUDE.md
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/pf-get-open-port-migration-plan.md
  packages/cli/plan.md
  packages/cli/src/commands/aws/profile-for-context/command.ts
  packages/cli/src/commands/k8s/disruptions/disable/command.ts
  packages/cli/src/commands/k8s/disruptions/enable/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/vault/README.md
  packages/cli/src/util/vault/getDbCreds.ts
  packages/cli/src/util/vault/getToken.ts
  packages/cli/src/util/vault/index.ts
  packages/installer/CLAUDE.md
  packages/nix/CLAUDE.md
  packages/nix/script-dependency-graph.md
  packages/scraper/CLAUDE.md
  packages/vault/CLAUDE.md
  packages/website/CLAUDE.md
Due: lint-spellcheck, typecheck-website

feat(cli): migrate Phase 5 advanced operations scripts to TypeScript
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/db/tunnel/command.ts
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/k8s/cluster/resume/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/workflow/git-checkout/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/db/getTempCredentials.ts
  packages/cli/src/util/db/getVaultRole.ts
  packages/cli/src/util/db/listDatabases.ts
  packages/cli/src/util/db/types.ts
  packages/cli/src/util/docker/credentialCache.ts
  packages/cli/src/util/docker/getEcrToken.ts
  packages/cli/src/util/eks/types.ts
  packages/cli/src/util/eks/validateRootProfile.ts
Due: lint-spellcheck

feat(cli): migrate Phase 4 BuildKit scripts to TypeScript CLI commands
  packages/cli/MIGRATION_PLAN.md
  packages/cli/MIGRATION_SUMMARY.md
  packages/cli/src/commands/buildkit/MIGRATION_PLAN.md
  packages/cli/src/commands/buildkit/build/command.ts
  packages/cli/src/commands/buildkit/cache/clear/command.ts
  packages/cli/src/commands/buildkit/scale/down/command.ts
  packages/cli/src/commands/buildkit/scale/up/command.ts
  packages/cli/src/commands/buildkit/tunnel/command.ts
  packages/cli/src/index.ts
  packages/cli/src/util/buildkit/config.ts
  packages/cli/src/util/buildkit/constants.ts
  packages/cli/src/util/buildkit/getAddress.ts
  packages/cli/src/util/buildkit/getLastBuildTime.ts
  packages/cli/src/util/buildkit/index.ts
  packages/cli/src/util/buildkit/recordBuild.ts
Due: lint-spellcheck

fix: resolve TypeScript errors in Phase 5 commands
  packages/cli/src/commands/docker/credential-helper/command.ts
  packages/cli/src/commands/k8s/cluster/suspend/command.ts
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/workflow/git-checkout/command.ts
  packages/cli/src/util/eks/validateRootProfile.ts
Due: none

fix: match bash implementation in get-module-hash command
  packages/cli/src/commands/util/get-module-hash/command.ts
  packages/cli/src/files/terragrunt/panfactum.hcl
  packages/cli/src/util/terragrunt/getModuleHash.ts
  packages/nix/packages/scripts/pf-get-local-module-hash.sh
Due: shellcheck, shellfmt, hcl-fmt

fix: add newline to get-commit-hash command output
  packages/cli/src/commands/util/get-commit-hash/command.ts
Due: none

feat: add vault get-token CLI command
  packages/cli/src/commands/tunnel/command.ts
  packages/cli/src/commands/vault/get-token/command.ts
  packages/cli/src/index.ts
Due: none
