Repository Panfactum/stack: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-spellcheck, shellcheck, shellfmt, nixfmt, hcl-fmt, tf-fmt, typecheck-website, lint-website, typecheck-cli, lint-cli, generate-tf-reference

lint-spellcheck:
  name: Spellcheck
  entry: cspell lint --no-progress --gitignore
  language: system
  pass_filenames: true
  description: Runs spellcheck on markdown files
  fail_fast: true

shellcheck:
  name: Shellcheck
  entry: shellcheck
  language: system
  pass_filenames: true
  description: Runs shellcheck on shell scripts
  fail_fast: true

shellfmt:
  name: Shell Format
  entry: shfmt --diff -i 2
  language: system
  pass_filenames: true
  description: Runs shfmt on shell scripts
  fail_fast: true

nixfmt:
  name: Nix Format
  entry: nixfmt -c
  language: system
  pass_filenames: true
  description: Runs nixfmt on Nix files
  fail_fast: true

hcl-fmt:
  name: HCL Format
  entry: terragrunt hclfmt --terragrunt-check --terragrunt-diff --terragrunt-hclfmt-file
  language: system
  pass_filenames: true
  description: Runs hclfmt on HCL files
  fail_fast: true

tf-fmt:
  name: Tofu Format
  entry: tofu fmt -diff -check
  language: system
  pass_filenames: true
  description: Runs tofu fmt on the infrastructure code
  fail_fast: false

typecheck-website:
  name: Typecheck Website
  entry: precommit-typecheck-website
  language: system
  pass_filenames: false
  description: Runs a typecheck on the website code
  fail_fast: true

lint-website:
  name: Lint Website
  entry: precommit-lint-website
  language: system
  pass_filenames: true
  description: Runs linting for the website code
  fail_fast: true

typecheck-cli:
  name: Typecheck CLI
  entry: precommit-typecheck-cli
  language: system
  pass_filenames: false
  description: Runs a typecheck on the CLI code
  fail_fast: true

lint-cli:
  name: Lint CLI
  entry: precommit-lint-cli
  language: system
  pass_filenames: true
  description: Runs linting for the CLI code
  fail_fast: true

generate-tf-reference:
  name: Generate Terraform Reference
  entry: precommit-generate-tf-reference
  language: system
  pass_filenames: true
  description: Generates terraform reference docs for changed modules
  fail_fast: false

perf(website): disable criticalCSS plugin to improve build times
  packages/website/astro.config.mjs
Due: typecheck-website

fix(cli/cluster): prevent crash resuming install at certificates step
  packages/cli/src/commands/cluster/add/command.ts
Due: typecheck-cli, lint-cli

fix(cli/cluster): tolerate missing YAML files when resuming install
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupEKS.ts
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/commands/cluster/enable/setupECR.ts
  packages/cli/src/commands/env/add/provisionAWSAccount.ts
  packages/cli/src/commands/sso/add/command.ts
  packages/cli/src/commands/sso/add/setupAuthentik.ts
  packages/cli/src/commands/sso/add/setupFederatedAuth.ts
Due: typecheck-cli, lint-cli

fix(demo_cicd): pass sitemap params to scraper and fix sitemap URLs
  infrastructure/demo_cicd/scraper_runner.tf
  infrastructure/demo_cicd/website_astro_builder.tf
Due: none

fix(s3_public_website): fix strict mode regex to handle non-extension dots
  packages/infrastructure/aws_s3_public_website/main.tf
  packages/infrastructure/aws_s3_public_website/vars.tf
  packages/website/src/content/docs/main/modules/aws_s3_public_website/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

fix(website): revert inlineStylesheets to never to fix Tailwind CSS
  packages/website/astro.config.mjs
Due: typecheck-website

feat(aws_organization): upgrade AWS provider to v6, expand org service access
  environments/management/global/aws_account/.terraform.lock.hcl
  environments/management/global/aws_account/module.status.yaml
  environments/management/global/aws_iam_identity_center_permissions/.terraform.lock.hcl
  environments/management/global/aws_iam_identity_center_permissions/module.status.yaml
  environments/management/global/aws_organization/.terraform.lock.hcl
  environments/management/global/aws_organization/module.status.yaml
  environments/management/global/aws_organization/terragrunt.hcl
  environments/management/global/sops/.terraform.lock.hcl
  environments/management/global/sops/module.status.yaml
  environments/management/global/tf_bootstrap_resources/.terraform.lock.hcl
  environments/management/global/tf_bootstrap_resources/module.status.yaml
  packages/infrastructure/aws_organization/main.tf
  packages/infrastructure/aws_organization/vars.tf
  packages/website/src/content/docs/edge/modules/aws_organization/reference.mdx
  packages/website/src/content/docs/main/modules/aws_organization/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(claude-hooks): guard auto-generated versioned docs from Claude edits
  .claude/hooks/guard-versioned-docs.sh
  .claude/settings.json
Due: none

fix(kube_vault): add bootstrap mode to bypass instance-type anti-affinity
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  packages/infrastructure/kube_vault/main.tf
  packages/infrastructure/kube_vault/vars.tf
  packages/website/src/content/docs/main/modules/kube_vault/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, typecheck-cli, lint-cli, generate-tf-reference

refactor(hooks): migrate from pre-commit to prek for hook execution
  .claude/hooks/stop-lint.sh
  .pre-commit-config.yaml
  packages/nix/localDevShell/default.nix
  packages/nix/localDevShell/scripts/precommit-lint-cli.sh
  packages/nix/localDevShell/scripts/precommit-lint-website.sh
Due: shellcheck, shellfmt, nixfmt

fix(demo_cicd): point docs scraper at panfactum.com instead of subdomain
  .pre-commit-config.yaml
  environments/production/us-east-2/demo_cicd/terragrunt.hcl
Due: none

feat(vpc): detect NAT ASG capacity failures during cluster add
  packages/cli/src/commands/cluster/add/setupVPC.ts
  packages/cli/src/util/aws/checkASGScalingFailure.test.ts
  packages/cli/src/util/aws/checkASGScalingFailure.ts
  packages/cli/src/util/aws/waitForASGInstance.test.ts
  packages/cli/src/util/aws/waitForASGInstance.ts
  packages/infrastructure/aws_vpc/main.tf
  packages/infrastructure/aws_vpc/outputs.tf
  packages/website/src/content/docs/main/modules/aws_vpc/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, typecheck-cli, lint-cli, generate-tf-reference

chore(kube_constants): bump image tag to 9aab1917
  packages/infrastructure/kube_constants/main.tf
Due: tf-fmt, generate-tf-reference

perf(cli/git): use GitHub API to verify Panfactum stack commits
  packages/cli/src/util/git/getCommitHash.ts
Due: typecheck-cli, lint-cli

fix(changelog): move MDX upgrade content outside SolidJS island
  packages/website/src/pages/docs/changelog/[...page].astro
  packages/website/src/pages/docs/changelog/_components/ChangelogDetail.tsx
Due: typecheck-website, lint-website

chore(deps): enforce exact dependency pinning across all packages
  .claude/hooks/lint.sh
  .claude/hooks/stop-lint.sh
  .pre-commit-config.yaml
  package.json
  packages/cli/package.json
  packages/cli/src/templates/aws_account.hcl
  packages/cli/src/templates/aws_dns_zones.hcl
  packages/cli/src/util/sops/sopsWrite.test.ts
  packages/cli/src/util/sops/sopsWrite.ts
  packages/cli/src/util/subprocess/execute.ts
  packages/nix/localDevShell/default.nix
  packages/nix/localDevShell/scripts/precommit-check-aws-sdk-versions.sh
  packages/nix/localDevShell/scripts/precommit-check-package-json.ts
  packages/reference-typescript/package.json
  packages/scraper/package.json
  packages/website/archived/_components/ReplacedServicesSection/images/datadog.svg
  packages/website/archived/_components/ReplacedServicesSection/images/elasticsearch.svg
  packages/website/archived/_components/ReplacedServicesSection/images/sysdig.svg
  packages/website/package.json
Due: shellcheck, shellfmt, nixfmt, hcl-fmt, typecheck-website, typecheck-cli, lint-cli

fix(cert-manager): add bootstrap_mode_enabled to fix SLA-3 spinup
  bun.lock
  package.json
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/src/commands/cluster/add/setupCertificates.ts
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/tsconfig.json
  packages/infrastructure/kube_cert_manager/main.tf
  packages/infrastructure/kube_cert_manager/vars.tf
  packages/infrastructure/kube_certificates/main.tf
  packages/infrastructure/kube_certificates/vars.tf
  packages/website/src/content/docs/main/modules/kube_cert_manager/reference.mdx
  packages/website/src/content/docs/main/modules/kube_certificates/reference.mdx
  pnpm-lock.yaml
Due: lint-spellcheck, nixfmt, tf-fmt, typecheck-website, typecheck-cli, lint-cli, generate-tf-reference

feat(cluster/add): add EC2 vCPU quota headroom check before cluster deploy
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/ensureEC2QuotaHeadroom.ts
  packages/cli/src/util/aws/clients/getCloudWatchClient.ts
  packages/infrastructure/aws_account/main.tf
Due: nixfmt, tf-fmt, typecheck-cli, lint-cli, generate-tf-reference

fix(kube_linkerd): disable anti-affinity constraints during cluster bootstrap
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupLinkerd.ts
  packages/infrastructure/kube_linkerd/main.tf
  packages/infrastructure/kube_linkerd/vars.tf
  packages/website/src/content/docs/main/modules/kube_linkerd/reference.mdx
Due: lint-spellcheck, nixfmt, tf-fmt, typecheck-website, typecheck-cli, lint-cli, generate-tf-reference

fix(dev-tooling): fix prek hooks and worktree install behavior
  .claude/hooks/stop-lint.sh
  .pre-commit-config.yaml
  flake.nix
  packages/cli/bun.nix
  packages/nix/localDevShell/default.nix
Due: nixfmt, typecheck-cli

perf(scraper): stream cache files as NDJSON to prevent OOM
  .gitignore
  packages/scraper/src/createParsedHtmlSections.ts
  packages/scraper/src/scrapeUrls.ts
Due: none

feat(cli): scaffold panfactum-cli package in monorepo
  bun.lock
  package.json
  packages/nix/localDevShell/default.nix
Due: nixfmt

feat(kube_ingress_nginx): add bootstrap mode to skip instance anti-affinity
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
  packages/cli/src/commands/cluster/add/setupInboundNetworking.ts
  packages/infrastructure/kube_ingress_nginx/main.tf
  packages/infrastructure/kube_ingress_nginx/vars.tf
  packages/website/src/content/docs/main/modules/kube_ingress_nginx/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, typecheck-cli, lint-cli, generate-tf-reference

fix(reference-typescript): correct Containerfile paths and pnpm workspace setup
  packages/reference-typescript/Containerfile
Due: none

fix(kube_ingress_nginx): use 3 replicas in bootstrap mode regardless of SLA
  packages/infrastructure/kube_ingress_nginx/main.tf
Due: tf-fmt, generate-tf-reference

fix(localDevShell): serialize devshell installs to prevent race conditions
  packages/nix/localDevShell/default.nix
Due: nixfmt

build(scraper): migrate to Bun runtime and dynamic image versioning
  .dockerignore
  bun.lock
  environments/production/us-east-2/demo_cicd/terragrunt.hcl
  infrastructure/demo_cicd/scraper_runner.tf
  infrastructure/demo_cicd/vars.tf
  infrastructure/demo_cicd/website_astro_builder.tf
  package.json
  packages/scraper/Containerfile
  packages/scraper/Containerfile.dockerignore
  packages/scraper/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix(demo-cicd): set explicit memory limit for scraper image builder
  infrastructure/demo_cicd/scraper_image_builder.tf
Due: none

fix: bump memory on steps in wf_dockerfile_build
  infrastructure/demo_cicd/demo_java_image_builder.tf
  infrastructure/demo_cicd/demo_python_image_builder.tf
  infrastructure/demo_cicd/demo_tracker_image_builder.tf
  infrastructure/demo_cicd/demo_user_service_image_builder.tf
  infrastructure/demo_cicd/scraper_image_builder.tf
  packages/infrastructure/wf_dockerfile_build/vars.tf
  packages/website/src/content/docs/main/modules/wf_dockerfile_build/reference.mdx
Due: lint-spellcheck, tf-fmt, typecheck-website, generate-tf-reference

feat(cluster): add CloudFront account verification pre-flight check
  bun.lock
  packages/cli/bun.lock
  packages/cli/bun.nix
  packages/cli/package.json
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/ensureCloudFrontAccountVerified.test.ts
  packages/cli/src/commands/cluster/add/ensureCloudFrontAccountVerified.ts
  packages/cli/src/util/aws/clients/getCloudFrontClient.ts
Due: nixfmt, typecheck-cli, lint-cli

build(devshell): generate pre-commit config from Nix for reproducibility
  .gitignore
  .pre-commit-config.yaml
  flake.nix
  packages/cli/default.nix
  packages/local/default.nix
  packages/local/lint.nix
  packages/local/scripts/ds-build-panfactum-image.sh
  packages/local/scripts/ds-check-package-json.ts
  packages/local/scripts/ds-generate-all-tf-reference.sh
  packages/local/scripts/ds-generate-tf-reference.sh
  packages/local/scripts/ds-make-new-edge-release.sh
  packages/local/scripts/ds-make-new-stable-release-channel.sh
  packages/local/scripts/lint-spellcheck.sh
  packages/local/scripts/lint-website.sh
  packages/local/scripts/lint.sh
  packages/local/scripts/precommit-generate-tf-reference.sh
  packages/local/scripts/precommit-lint-cli.sh
  packages/local/scripts/precommit-lint-website.sh
  packages/local/scripts/precommit-terraform-docs.sh
  packages/local/scripts/precommit-terraform-fmt.sh
  packages/local/scripts/precommit-terragrunt-fmt.sh
  packages/local/scripts/precommit-typecheck-cli.sh
  packages/local/scripts/precommit-typecheck-website.sh
Due: nixfmt, typecheck-cli

fix: update claude documentation
  .claude/rules/cli/aws.md
  .claude/rules/cli/cli-patterns.md
  .claude/rules/cli/commands.md
  .claude/rules/cli/data.md
  .claude/rules/cli/testing.md
  .claude/rules/cli/tsdoc.md
  .claude/rules/cli/typescript.md
  .claude/rules/website/astro-components.md
  .claude/rules/website/commands.md
  .claude/rules/website/content.md
  .claude/rules/website/solid-components.md
  .claude/rules/website/styling.md
  packages/cli/CLAUDE.md
  packages/website/CLAUDE.md
Due: lint-spellcheck, typecheck-website, typecheck-cli

refactor(devshell): manage Claude hooks as Nix derivations
  .claude/hooks/guard-generated-files.sh
  .claude/settings.json
  .gitignore
  packages/local/default.nix
  packages/local/hooks/default.nix
  packages/local/hooks/hook-guard-generated-files.sh
  packages/local/hooks/hook-guard-git-show.sh
  packages/local/hooks/hook-guard-npx.sh
  packages/local/hooks/hook-guard-versioned-docs.sh
  packages/local/hooks/hook-lint.sh
  packages/local/hooks/hook-regenerate-schemas.sh
  packages/local/hooks/hook-stop-lint.sh
Due: none

fix: update claude documentation
  .claude/rules/cli/cli-patterns.md
Due: lint-spellcheck

fix(cluster/vault): make vault setup idempotent on re-runs
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/setupVault.ts
  pnpm-lock.yaml
Due: typecheck-cli, lint-cli

fix(cluster/add): allow missing module.yaml during cluster extension setup
  packages/cli/src/commands/cluster/add/setupClusterExtensions.ts
Due: typecheck-cli, lint-cli

fix(templates): fix linkerd cert deps and add cert module templates
  packages/cli/src/templates/kube_cert_issuers_terragrunt.hcl
  packages/cli/src/templates/kube_cert_manager_terragrunt.hcl
  packages/cli/src/templates/kube_linkerd_terragrunt.hcl
Due: hcl-fmt, typecheck-cli

fix(cluster/add): make vCPU quota check aware of existing deployments
  packages/cli/bun.nix
  packages/cli/src/commands/cluster/add/command.ts
  packages/cli/src/commands/cluster/add/ensureEC2QuotaHeadroom.ts
Due: nixfmt, typecheck-cli, lint-cli

Path conditions:
  lint-spellcheck: any of: \.(md|mdx)$
  shellcheck: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  shellfmt: any of: ^packages/(nix|installer|infrastructure)/.*\.sh$
  nixfmt: any of: ^packages/(nix|cli)/.*\.nix$
  hcl-fmt: any of: ^packages/cli/.*\.hcl$
  tf-fmt: any of: ^packages/infrastructure/.*\.tf$
  typecheck-website: any of: ^packages/website/
  lint-website: any of: ^packages/website/src/.*\.(ts|tsx|astro)$
  typecheck-cli: any of: ^packages/cli/
  lint-cli: any of: ^packages/cli/.*\.ts$
  generate-tf-reference: any of: ^packages/infrastructure/[^/]+/
